


<script>
			function initPage(){
				$.ajax({
					url:"${rc.contextPath}/sns/topic/newsList.do",
					type:'psot',
					dataType:'json',
					success:function(data){
					for(var i=0;i<data.length;i++){
						$tr="<tr><td><input type='radio'></td><td>"+data[i].title+"</td><td>"+data[i].summary+"</td><td>"+data[i].keyWords+"</td><td>"+data[i].createTime+"</td></tr>";
						$("#table_news").append($tr);
					}
					
				    
					}
					
					
					
				})
					
			};
			$(function(){
				initPage();
			}); 
	
			
	
	
	</script>