<!DOCTYPE html>
<html lang="en">
	<head>
		<#include "../common_header.html">
	</head>

	<body class="no-skin" style="overflow: hidden;">

		<#include "../top.html">

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<#include "../access/sys_menu.html">

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="">系统设置</li>
							<li class="active">菜单管理</li>
						</ul><!-- /.breadcrumb -->

						<#include "../search.html">
					</div>

					<div class="page-content">

						<#include "../ace_setting.html">

						
						
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<iframe id="contentList" name="contentList" src="${rc.contextPath}/module/list.do" style="border: 0;width: 100%;height: 620px;overflow:hidden;" scrolling="no"></iframe>
									</div><!-- /.span -->
								</div><!-- /.row -->
							</div><!-- /.span -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<#include "../footer.html">

		</div><!-- /.main-container -->

		<#include "../footerjs.html">

		<!-- page specific plugin scripts -->
		<script src="${rc.contextPath}/admin/js/sidebar-menu.js"></script>
				
		<!-- inline scripts related to this page -->
		<script type="text/javascript">		
		</script>
	</body>
</html>