<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="${rc.contextPath}/components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/components/bootstrap/dist/css/bootstrap-treeview.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/components/font-awesome/css/font-awesome.min.css" />
		
		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
		
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-skins.css" />
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-rtl.css" />
		<!--重写部分样式-->
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/sitecss-overwrite.css"/>
		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace.main.css" />


		<!-- inline styles related to this page -->
		
		<script src="${rc.contextPath}/components/jquery/dist/jquery.min.js"></script>
		<script src="${rc.contextPath}/components/bootstrap/dist/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=40bcbd6c7361485243a9c1e30d60d6cc"></script>