
<script type="text/javascript">
	var editUrl = "${rc.contextPath}/contentType/v_edit.do";
	var deleteUrl = "${rc.contextPath}/contentType/o_delete.do";
	var indexUrl = "${rc.contextPath}/contentType/v_list.do"
</script>

<form class="form-inline hk-search">
	<div class="row">
		<div class="col-sm-2 col-xs-6">
			<input type="text" class="form-control input-sm" placeholder="类型名称" id="contentNameSearch" value='${form.contentTypeName!}'>
		</div>
		<div class="col-sm-2  col-xs-6" >
			<button type="button" class="btn btn-info btn-sm" onclick="search()">
				<span class="glyphicon glyphicon-search"></span> <span>搜索</span>
			</button>
		</div>
	</div>
</form>
<div class="hk-toolbar">
	<div class="btn-group btn-group-sm">
		<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-th-list"></span> 操作
		</button>
		<button type="button" class="btn btn-default dropdown-toggle"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a id="linkAddItem" href="javascript:void(0)"> <span
					class="glyphicon glyphicon-plus"></span> 添加
			</a></li>
			<!-- <li><a id="linkEditItem" href="javascript:void(0)"> <span
					class="glyphicon glyphicon-edit"></span> 编辑
			</a></li> -->
			<@shiro.hasPermission name="/contentType/o_delete.do">  
	
   
			<li><a id="linkDelItems" href="javascript:void(0)"><span
					class="glyphicon glyphicon-remove"></span> 删除</a></li>
		</@shiro.hasPermission>
		</ul>
	</div>
</div>
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th><input type="checkbox"></th>
			<th>类型名称</th>
			<th>录入时间</th>
			<th>录入人</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<#list page.list as type>
		<tr>
			<td><input type="checkbox" id="code" value="${type.contentTypeId}"></td>
			<td>${type.contentTypeName!}</td>
			<td>${type.createTime!}</td>
			<td>admin</td>
			<td><a href="javascript:editItem(${type.contentTypeId})"
				class="btn btn-info btn-xs" id="linkEditItem">编辑</a> <a
				href="javascript:deleteItem(${type.contentTypeId})"
				class="btn btn-danger btn-xs">删除</a></td>
		</tr>
		</#list>
	</tbody>
</table>
<#include "../common/page.html"> 
<!-- Modal -->
<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<#include "add.html">
</div>
</div>
<!-- 区块：主内容区域 end --> <script type="text/javascript">
	//此页面

	var length = $("tbody tr").length;
	//var begin = (${page.pageNo}-1)*length+1;
	for (var i = 0; i < length; i++) {
		$("tbody tr:eq(" + i + ") td[data-field='index']").text(i + 1);
	}

	var contenttype_list_page = {
		//初始化
		init : function() {
			this.eventInit();
		},
		//事件绑定
		eventInit : function() {
			//信息表单模态框
			var $modalInfo = $('#modalInfo');//模态框
			var $modalInfoTitle = $modalInfo.find('#modalTite');//模态框标题
			//bootstrap模态框实例
			$modalInfo.modal({
				backdrop : 'static',//点击模态透明层不隐藏
				keyboard : false,//键盘不控制模态框 如：esc按下模态框不消失
				show : false
			//实例化后默认不显示
			});
			
			//添加一条数据
			$('#linkAddItem').click(function() {
				$modalInfoTitle.html('添加数据');
				$modalInfo.modal('show');//模态框显示
			});
			//编辑一条数据
			$('#linkEditItem').click(function() {
				$modalInfoTitle.html('编辑数据');
				$modalInfo.modal('show');
			});

			//分页查询
			function jumpNormalPage(pageNo) {
				$("#pageNo").val(pageNo);
				$("#submitForm").submit();
			}
		}
	}

	//在当前行编辑
	function editItem(categoryId) {

		var url = editUrl + "?contentTypeId=" + categoryId;
		//先加载页面
		$modalInfo.load(url);
		$modalInfoTitle.html('编辑数据');
		$modalInfo.modal('show');
	};

	//删除一条数据
	function deleteItem(categoryId) {
		var c = confirm("确定删除" + categoryId + "么?");
		if (c == true) {
			var url = deleteUrl + "?contentTypeId=" + categoryId;
			$.ajax({
				type : "POST",
				dataType : "json",
				url : url,
				success : function(data) {
					if(data.status==200){
		           		$('.hk-main').load(indexUrl);
		           		alert(data.message);
			    	}else{
			    		alert(data.message);
			    	}
				}
			});
		}
	}
	$("#linkDelItems").click(function(){
		var categoryIds="";
        $("input[id^='code']:checked").each(function(){
       	 categoryIds+=$(this).val()+",";
        });
        if (!categoryIds) {
            alert("请勾选要删除的记录！");
            return;
        }
        $.ajax({
            type: 'POST',
            url: "${rc.contextPath}/contentType/o_delete.do",
            data: "allIDCheck="+categoryIds,
            dataType:'json',
            success: function(data) {
           	if(data.status==200){
           		$('.hk-main').load(indexUrl);
	    		alert(data.message);
	    	}else{
	    		alert(data.message);
	    	}
            }
	});
});
	function search(){
		var typeName=$("#contentNameSearch").val()
		$('.hk-main').load(indexUrl + "?contentTypeName=" + typeName);
		
	}
	

	function jumpNormalPage(page) {
		var checkid = null;
		var typeName=$("#contentNameSearch").val();
		
		if (typeName!=null && typeName!="") {
			$('.hk-main').load(indexUrl + "?pageNo=" + page+"&contentTypeName="+typeName);
		}else{
			$('.hk-main').load(indexUrl + "?pageNo=" + page);
		} 
		
		
		
	}

	$(function() {
		contenttype_list_page.init();
	});
</script>