
<form id="submitForm" class="form-horizontal" role="form">
	<input type="hidden" name="categoryId" value="${entity.categoryId}"
		id="categoryId" /> <input type="hidden" name="parentId"
		value="${entity.parent.categoryId}" id="parentId" />

	<div class="tabbable">
		<ul class="nav nav-tabs padding-12 tab-color-blue background-blue"
			id="myTab4">
			<li class="active"><a data-toggle="tab" href="#home4">栏目信息</a></li>
			<li>
				<!-- <a data-toggle="tab" href="#profile4">模板配置</a> -->
			</li>
		</ul>
		<div class="tab-content">
			<div id="home4" class="tab-pane in active">
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">上级栏目：</label>
					<div class="col-sm-4">
						<div class="pos-rel">
							<input id="citySel" value="${entity.parent.categoryName}"
								class="typeahead scrollable" type="text" readonly="readonly" />
						</div>
					</div>
					
					<label class="col-sm-2 control-label no-padding-right">审核流程：</label>
					<div class="col-sm-4">
						<div class="pos-rel">
							<select id="flowId" name="flowId" class="form-control">
										<option value="-1">
											--请选择--
										</option>
									<#if specialList??> 
										<#list specialList as s>
											<option value="${s.flowId!''}">
												${s.flowName!}
											</option>
										</#list> 
									</#if>
							</select>
						</div>
					</div>
					
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">栏目名称：</label>
					<div class="col-sm-4">
						<div class="pos-rel">
							<input id="categoryName" name="categoryName"
								value="${entity.categoryName!}" class="typeahead scrollable"
								type="text" placeholder="栏目名称" required="" />
						</div>
					</div>
					<label class="control-label col-xs-2 col-sm-2 no-padding-right"
						for="food">状态：</label>
					<div class="col-xs-5 col-sm-4">
						<!-- <@p.select value="${entity.status!}" name="status" id="status" /> -->
						<select name="status" id="status">
							<#if entity??> 
								<#if entity.status??>
									<#if entity.status==1>
										<option value="1" selected="selected">启用</option>
										<option value="0">未启用</option>
									<#else>
										<option value="1" >启用</option>
										<option value="0" selected="selected">未启用</option>
									</#if>
								<#else>
									<option value="1" >启用</option>
									<option value="0" selected="selected">未启用</option>
								</#if>
							</#if>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">显示顺序：</label>
					<div class="col-sm-4">
						<div class="pos-rel">
							<input id="priority" name="priority" value="${entity.priority!}"
								class="typeahead scrollable" type="text" placeholder="显示顺序" />
						</div>
					</div>
					<label class="col-sm-2 control-label no-padding-right">前台显示：</label>
					<div class="col-sm-4">
						<div class="pos-rel">
							<label> <#if entity.display??> <#if 
									entity.display==1> <input id="display" name="display"
									value="1" checked="checked" class="ace ace-switch ace-switch-2"
									type="checkbox" /> <#else> <input id="display"
									name="display" value="1" class="ace ace-switch ace-switch-2"
									type="checkbox" /></#if> <#else> <input id="display"
									name="display" value="1" class="ace ace-switch ace-switch-2"
									type="checkbox" /> </#if> <span class="lbl"></span></label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">外链：</label>
					<div class="col-sm-4">
						<div class="pos-rel">
							<input id="outLink" name="outLink" value="${entity.outLink!}"
								class="typeahead scrollable" type="text" placeholder="外链" />
						</div>
					</div>
					<label class="control-label col-xs-2 col-sm-2 no-padding-right"
						for="food">所属站点：</label>
					<div class="col-xs-4 col-sm-4">
						<select name="siteId" id="siteId">
							<option value="">--请选择--</option>
							<#list sites as site> <#if site.siteId==entity.siteId>
							<option value="${site.siteId}" selected="selected">${site.siteName}</option>
							<#else>
							<option value="${site.siteId}">${site.siteName}</option></#if> </#list>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">关键词：</label>
					<div class="col-sm-4">
						<div class="pos-rel">
							<input id="keywords" name="keywords" value="${entity.keywords!}"
								class="typeahead scrollable" type="text" placeholder="keywords" />
						</div>
					</div>
					<label class="col-sm-2 control-label no-padding-right">description：</label>
					<div class="col-sm-4">
						<div class="pos-rel">
							<textarea id="description" name="description"
								class="form-control" placeholder="description">${entity.description!}</textarea>
						</div>
					</div>
				</div>
			</div>
			<!-- 基础信息 -->


			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<button class="btn btn-info" type="button" id="submitbutton">
						<i class="ace-icon fa fa-check bigger-110"></i> 提交
					</button>

					&nbsp; &nbsp; &nbsp;
					<button class="btn" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i> 重置
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
<script type="text/javascript">
	$(function() {
		<#if entity??>
			<#if entity.flowId??>
				$("#flowId").find("option[value=${entity.flowId!''}]").attr("selected",true);
			</#if>
		</#if>
		$("#submitbutton").click(function() {
			if (validateForm()) {
				$.ajax({
					type : 'POST',
					url : "${rc.contextPath}/category/o_update.do",
					data : $("#submitForm").serialize(),
					dataType : 'json',
					success : function(data) {
						if (data) {
							//artDialog({content:'提交成功', x:'right', y:'bottom', time:'1', fixed:true});
							alert("提交成功");
							$('.hk-main').load(indexUrl);
						}
					}
				});
			}
		});
	});

	function validateForm() {
		if($("#flowId").val()==-1){
			alert("审核流程不能为空！");
			return false;
		}
		return true;
	}

	function addRow() {
		var html = $("#category_content_tpl").html();

		$("#profile4").append(html);
	}

	function delRow(obj) {
		var tar = obj.parentNode.parentNode.parentNode;
		if (tar.className = "form-group") {
			tar.remove();
		}
	}

	var zTree;
	var setting = {
		view : {
			dblClickExpand : false
		},
		data : {
			simpleData : {
				enable : true
			}
		},
		callback : {
			onClick : onClick
		}
	};

	function onClick(e, treeId, treeNode) {
		var zTree = $.fn.zTree.getZTreeObj("treeDemo"), nodes = zTree
				.getSelectedNodes(), v = "";
		nodes.sort(function compare(a, b) {
			return a.id - b.id;
		});
		for (var i = 0, l = nodes.length; i < l; i++) {
			v += nodes[i].name + ",";
		}
		if (v.length > 0)
			v = v.substring(0, v.length - 1);
		var cityObj = $("#citySel");
		cityObj.attr("value", v);

		v2 = "";
		for (var i = 0, l = nodes.length; i < l; i++) {
			v2 += nodes[i].id + ",";
		}
		if (v2.length > 0)
			v2 = v2.substring(0, v2.length - 1);
		var parentObj = $("#parentId");
		parentObj.attr("value", v2);
	}

	function showMenu() {
		var cityObj = $("#citySel");
		var cityOffset = $("#citySel").offset();
		$("#menuContent").css({
			left : cityOffset.left + "px",
			top : cityOffset.top + cityObj.outerHeight() + "px"
		}).slideDown("fast");

		$("body").bind("mousedown", onBodyDown);
	}
	function hideMenu() {
		$("#menuContent").fadeOut("fast");
		$("body").unbind("mousedown", onBodyDown);
	}
	function onBodyDown(event) {
		if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(
				event.target).parents("#menuContent").length > 0)) {
			hideMenu();
		}
	}
</script>

