
<script type="text/javascript">
	var editOriginUrl = "${rc.contextPath}/origin/edit.do";
	var deleteOriginUrl = "${rc.contextPath}/origin/delete.do";
	var indexOriginUrl = "${rc.contextPath}/origin/list.do"
</script>

<form class="form-inline hk-search" id="searchForm" name="submitForm" action="list.do" method="post">
	<input type="hidden" value="${page.pageNo}" id="pageNo" name="pageNo"/>
	<div class="row">
		<div class="col-sm-2 col-xs-6">
			<input type="text" class="form-control input-sm" placeholder="来源名称" name="originName" id="originNameSearch" value='${form.originName!}'>
		</div>
		<div class="col-sm-2 col-xs-6">
			<input type="text" class="form-control input-sm" placeholder="来源地址" name="originUrl" id="originUrlSearch" value='${form.originUrl!}'>
		</div>
		<div class="col-sm-2 col-xs-6">
			<input type="text" class="form-control input-sm" placeholder="来源链接" name="link" id="linkSearch" value='${form.link!}'>
		</div>
		<div class="col-sm-2 col-xs-6">
			<div class="input-group input-group-sm">
				<span class="input-group-addon" id="basic-addon3">审核状态</span>
			<#if (form.status)??>
				<#if form.status==0>
					<select class="form-control" id="sstatus" name="status">
						<option value="">全部</option>
						<option value="1">正常</option>
						<option value="0" selected="selected">冻结</option>
					</select>
				</#if>
				<#if form.status==1>
					<select class="form-control" id="sstatus" name="status">
						<option value="">全部</option>
						<option value="1" selected="selected">正常</option>
						<option value="0">冻结</option>
					</select>
				</#if>
				<#else>
					<select class="form-control" id="sstatus" name="status">
						<option value="" selected="selected">全部</option>
						<option value="1">正常</option>
						<option value="0">冻结</option>
					</select>
			</#if>
			</div>
		</div>
		<div class="col-sm-2  col-xs-6" >
			<button type="button" class="btn btn-info btn-sm" onclick="search()">
				<span class="glyphicon glyphicon-search"></span> <span>搜索</span>
			</button>
		</div>
	</div>
</form>
<div class="hk-toolbar">
<@shiro.hasPermission name='/origin/save.do'>
	<div class="btn-group btn-group-sm">
		<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-th-list"></span> 操作
		</button>
		<button type="button" class="btn btn-default dropdown-toggle"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a id="linkAddItem" href="javascript:void(0)"> <span
					class="glyphicon glyphicon-plus"></span> 添加
			</a></li>
		</ul>
	</div>
	</@shiro.hasPermission>  
</div>
<div class="col-sm-12" id="table_div" style="height:650px;overflow: auto">
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th style="width:5%;"><input type="checkbox"></th>
			<th style="width:10%;">来源ID</th>
			<th style="width:10%;">来源名称</th>
			<th style="width:10%;">来源地址</th>
			<th style="width:10%;">站点ID</th>
			<th style="width:5%;">状态</th>
			<th style="width:5%;">文字</th>
			<th style="width:10%;">链接</th>
			<th style="width:10%;">创建时间</th>
			<th style="width:10%;">最后修改时间</th>
			<th style="width:10%;">操作</th>
		</tr>
	</thead>
	<tbody>
		<#list page.list as p>
		<tr>
			<td><input type="checkbox"></td>
			<td><#if (p.originId)??>${p.originId}<#else></#if></td>
			<td><#if (p.originName)??>${p.originName}<#else></#if></td>
			<td><#if (p.originUrl)??>${p.originUrl}<#else></#if></td>
			<td><#if (p.siteId)??>${p.siteId}<#else></#if></td>
			<td><#if (p.status==0 )>
			冻结
			<#else>
			正常
			</#if>
			</td>
			<td><#if (p.word)??>${p.word}<#else></#if></td>
			<td><#if (p.link)??>${p.link}<#else></#if></td>
			<td><#if (p.createTime)??>${p.createTime}<#else></#if></td>
			<td><#if (p.lastModifyTime)??>${p.lastModifyTime}<#else></#if></td>
			<td>
			   <@shiro.hasPermission name='/origin/edit.do'>
				<a href="javascript:editItem('${p.originId}')" class="btn btn-info btn-xs" id="linkEditItem">编辑</a>
				</@shiro.hasPermission>  
				<@shiro.hasPermission name='/origin/delete.do'>
				<a href="javascript:deleteItem('${p.originId}')" class="btn btn-danger btn-xs">删除</a></td>
		     </@shiro.hasPermission>  
		</tr>
		</#list>
	</tbody>
</table>
<#include "../common/page.html">
</div>
<!-- Modal -->
<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<#include "add.html">
</div>
</div>
<!-- 区块：主内容区域 end --> <script type="text/javascript">
	//此页面

	var length = $("tbody tr").length;
	//var begin = (${page.pageNo}-1)*length+1;
	for (var i = 0; i < length; i++) {
		$("tbody tr:eq(" + i + ") td[data-field='index']").text(i + 1);
	}

	var contenttype_list_page = {
		//初始化
		init : function() {
			this.eventInit();
		},
		//事件绑定
		eventInit : function() {
			//信息表单模态框
			var $modalInfo = $('#modalInfo');//模态框
			var $modalInfoTitle = $modalInfo.find('#modalTite');//模态框标题
			//bootstrap模态框实例
			$modalInfo.modal({
				backdrop : 'static',//点击模态透明层不隐藏
				keyboard : false,//键盘不控制模态框 如：esc按下模态框不消失
				show : false
			//实例化后默认不显示
			});
			
			//添加一条数据
			$('#linkAddItem').click(function() {
				$modalInfoTitle.html('添加数据');
				$modalInfo.modal('show');//模态框显示
			});
			
		}
    };
	
	//模态框完全关闭后重新load
	$modalInfo.on('hidden.bs.modal', function () {
		var pageNo = ${page.pageNo};
		$("#pageNo").val(pageNo);
        var data = $("#searchForm").serialize();
        $('.hk-main').load(indexOriginUrl, data);
	});

	//在当前行编辑
	function editItem(categoryId) {

		var url = editOriginUrl + "?originId=" + categoryId;
		//先加载页面
		$modalInfo.load(url);
		$modalInfoTitle.html('编辑数据');
		$modalInfo.modal('show');
    }

	
	//模态框完全关闭后重新load
	$modalInfo.on('hidden.bs.modal', function () {
		var pageNo = ${page.pageNo};
		$("#pageNo").val(pageNo);
        var data = $("#searchForm").serialize();
        $('.hk-main').load(indexOriginUrl, data);
	});
    //删除一条数据
	function deleteItem(categoryId) {
		var c = confirm("确定删除" + categoryId + "么?");
		if (c == true) {
			var url = deleteOriginUrl + "?originId=" + categoryId;
			$.ajax({
				type : "POST",
				dataType : "text",
				url : url,
				success : function(data, status) {
					if (status = 'success' && data == 'true') {
						var pageNo = ${page.pageNo};
						$("#pageNo").val(pageNo);
				        var data = $("#searchForm").serialize();
				        $('.hk-main').load(indexOriginUrl, data);
					}
				}
			});
		}

	}
	
	function search(){
        var data = $("#searchForm").serialize();
        $('.hk-main').load(indexOriginUrl, data);
	}

    function jumpNormalPage(pageNo) {
        $("#pageNo").val(pageNo);
        var data = $("#searchForm").serialize();
        $('.hk-main').load(indexOriginUrl, data);
    }

    function boxheight(height,div){ //函数：获取尺寸
	    //获取浏览器窗口高度
	    var winHeight=height;
	    if (window.innerHeight)
	        winHeight =  height/917*window.innerHeight;
	    else if ((document.body) && (document.body.clientHeight))
	        winHeight = height/917*document.body.clientHeight;
	    //通过Document对body进行检测，获取浏览器可视化高度
	    if (document.documentElement && document.documentElement.clientHeight)
	        winHeight = height/917*document.documentElement.clientHeight;
	    //DIV高度为浏览器窗口高度
	    document.getElementById(div).style.height= winHeight +"px";
	}
	$(function() {
		contenttype_list_page.init();
		boxheight(500,"table_div");
	});
</script>