<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="${rc.contextPath}/components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/components/bootstrap/dist/css/bootstrap-treeview.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/components/bootstrap-fileinput/css/fileinput.min.css" />
		
		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
		
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-skins.css" />
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-rtl.css" />
		<link rel="stylesheet" href="${rc.contextPath}/ztree/css/zTreeStyle/zTreeStyle.css" />
		<!--重写部分样式-->
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/sitecss-overwrite.css"/>
		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="${rc.contextPath}/components/malihu-custom-scrollbar-plugin-3.0.7/jquery.mCustomScrollbar.min.css" />

		<!-- inline styles related to this page -->
		
		<!-- basic scripts -->
		<script src="${rc.contextPath}/components/jquery/dist/jquery.min.js"></script>
		<script src="${rc.contextPath}/components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="${rc.contextPath}/components/bootstrap-fileinput/js/fileinput.min.js" ></script>
		<script src="${rc.contextPath}/components/bootstrap-fileinput/js/locales/zh.js" ></script>
		<script src="${rc.contextPath}/components/jquery/dist/jquery.form.min.js"></script>
		
		<!-- page specific plugin scripts -->
		<!-- Required Javascript -->
		<script src="${rc.contextPath}/components/bootstrap/dist/js/bootstrap-treeview.min.js"></script>
		<script src="${rc.contextPath}/components/wangEditor/wangEditor.min.js"></script>
		
		<script src="${rc.contextPath}/components/malihu-custom-scrollbar-plugin-3.0.7/jquery.mousewheel.min.js" ></script>
		<script src="${rc.contextPath}/components/malihu-custom-scrollbar-plugin-3.0.7/jquery.mCustomScrollbar.concat.min.js" ></script>
		
		
		<script src="${rc.contextPath}/assets/js/hk.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=40bcbd6c7361485243a9c1e30d60d6cc"></script>
		<script type="text/javascript">
			var file_upload_prefix = "http://127.0.0.1:7810/";
            //var file_upload_prefix = "http://127.0.0.1:7810/";
			var file_show_prefix = "http://127.0.0.1/"; 
			var img_upload_url = file_upload_prefix+"file/img/upload.do";
			var img_collect_upload_url = file_upload_prefix+"file/img/uploadPicCollect.do";
			var video_upload_url = file_upload_prefix+"file/video/upload.do";
			var file_info_url=file_upload_prefix+"file/info/saveInfoFeginApi.do";
		</script>
 
