		<title>全媒体内容治理与微服务平台</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<script src="${rc.contextPath}/components/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="${rc.contextPath}/components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/components/bootstrap/dist/css/bootstrap-treeview.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/kind/themes/default/default.css" />
		<link rel="stylesheet" href="${rc.contextPath}/kind/plugins/code/prettify.css" />
		
		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
		
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-skins.css" />
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-rtl.css" />
		<link rel="stylesheet" href="${rc.contextPath}/ztree/css/zTreeStyle/zTreeStyle.css" />
		<!--重写部分样式-->
		<link rel="stylesheet" href="${rc.contextPath}/assets/css/sitecss-overwrite.css"/>
		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="${rc.contextPath}/components/malihu-custom-scrollbar-plugin-3.0.7/jquery.mCustomScrollbar.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-ie.css" />
		<![endif]-->
		<!-- <link rel="stylesheet" href="${rc.contextPath}/components/malihu-custom-scrollbar-plugin-3.0.7/jquery.mCustomScrollbar.min.css" />
 -->
		<!-- ace settings handler -->
		
		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->