
<script type="text/javascript"> 
	//获取关联新闻分类树
   	var relatedCategoryTreeUrl = "${rc.contextPath}/category/allCategoryJson.do";
</script>
<#setting number_format="#">


<div class="modal-dialog" role="document" style="width: 70%">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h5 class="modal-title">
				<span class="glyphicon glyphicon-file"></span> <span
					id="modalInfoTitle"></span>
			</h5>
		</div>
		<div class="modal-body">
			<form id="submitForm" class="form-horizontal" role="form">
				<div class="tabbable">
					<ul class="nav nav-tabs padding-12 tab-color-blue background-blue"
						id="myTab4">
						<li class="active"><a data-toggle="tab" href="#home4">专题信息</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="home4" class="tab-pane in active">
							
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">专题名称：</label>
									<div class="col-sm-4">
										<input id="specialName" name="specialName"
											class="typeahead scrollable" type="text" placeholder="专题名称"
											value="<#if specialOld??>${specialOld.specialName!''}</#if>" />
									</div>
									<label class="col-sm-2 control-label no-padding-right">上一级专题</label>
								<div class="col-sm-4">
									<input class="typeahead scrollable" type="text" disabled="disabled" value="<#if special??>${special.specialName!''}</#if>"></label>
								</div>
								
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">显示顺序：</label>
								<div class="col-sm-4">
									<div class="pos-rel">
										<input id="sortNum" name="sortNum" value="<#if specialOld??>${specialOld.sortNum!''}</#if>"
											class="typeahead scrollable" type="number" placeholder="显示顺序" />
									</div>
								</div>
								<label class="col-sm-2 control-label no-padding-right">推荐权重：</label>
								<div class="col-sm-4">
									<div class="pos-rel">
										<input id="recommPriority" name="recommPriority" value="<#if specialOld??>${specialOld.recommPriority!''}</#if>"
											class="typeahead scrollable" type="number" placeholder="权重" />
									</div>
								</div>
								
								
							</div>


							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">关键词:</label>
								<div class="col-sm-4">
									<div class="pos-rel">
										<input id="keywords" name="keywords" 
										value="<#if specialOld??>${specialOld.keywords!''}</#if>"
											class="typeahead scrollable" type="text"
											placeholder="关键字" />
									</div>
								</div>
								<label class="col-sm-2 control-label no-padding-right">摘要:</label>
								<div class="col-sm-4">
									<div class="pos-rel">
										<textarea id="summary" name="summary"
											class="form-control" placeholder="摘要"><#if specialOld??>${specialOld.summary!''}</#if></textarea>
									</div>
								</div>
								
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">关联新闻分类</label>
								<div class="col-sm-4">
									<div class="tree-wrap hk-scrollbar">
										<ul id="specialChildTree" class="ztree"></ul>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="form-group form-group-sm">
					    			<label  class="col-sm-2 control-label">封面组图
					    			</label>
						    		<div class="col-sm-8">
										<input id="add_logo" type="file" name="myfile" multiple="multiple">
						    			<input type="hidden" id="logo" name="logo"/>
						    			<input type="hidden" id="logoIds" name="logoIds"/>
						    			<input type="hidden" id="logoUrls" name="logoUrls"/>
						    		</div> 
					    		</div> 
					    		<label class="col-sm-2 control-label no-padding-right"></label>
					  		</div>
					  		
					  		<div class="form-group">
								<!-- <div class="col-sm-10" id="logos"></div> -->
								<label class="col-sm-2 control-label no-padding-right"></label>
								<div class="col-sm-8" id="div_logos" style="height:300px; overflow:auto">
									<div class="special-main">
										<div class="row" id="logo_img_list">
								 					 			
								 		</div>
									</div>
								</div>
								<label class="col-sm-2 control-label no-padding-right"></label>
							</div>
						</div>
					</div>
				</div>

				<div class="clearfix form-actions">
					<div class="col-md-offset-5 col-md-9" >
						<button class="btn btn-info" type="button" id="submitbutton">
							<i class="ace-icon fa fa-check bigger-110">保存</i>

						</button>
						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="ace-icon fa fa-undo bigger-110"></i> 重置
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
//上传封面
$('#add_logo').fileinput({
	language:'zh',//语言中文
	msgPlaceholder:"选择封面图片...",
	showCaption:true,//文本框
	showPreview:false,//预览
	showUpload:true,//上传按钮
	uploadAsync: false, //默认异步上传,此处改为同步
	showClose:true,//预览框关闭按钮
	showBrowse:true,//上传按钮
	browseOnZoneClick:false,//点击拖拽区不上传
	initialPreviewShowDelete:true,
	allowedFileExtensions:['jpg','png','gif'],//允许文件类型
	browseClass:'btn btn-info btn-sm', //样式
	captionClass:'input-sm', 
	removeClass:'btn btn-info btn-sm',
	uploadClass:'btn btn-info btn-sm',
	enctype: 'multipart/form-data',
	maxFileCount:20,
	uploadUrl:img_upload_url,//服务器端图片接收处理路径
}).on("filebatchuploadsuccess", function (event, data, previewId, index) {
	 //同步上传返回结果处理
		//console.info(data.response);
		if (data.response) {
			  var obj = data.response;
			  var urls = obj.urls;
			  var ids = obj.ids;
		     var logoIds = $("#logoIds").val();
			  if(logoIds){
				  $("#logoIds").val(logoIds+","+ids)
			  }else{
				  $("#logoIds").val(ids);
			  }
			  logoIds=$("#logoIds").val();
			  
		      var logoUrls = $("#logoUrls").val();
			  if(logoUrls){
				  $("#logoUrls").val(logoUrls+","+urls)
			  }else{
				  $("#logoUrls").val(urls);
			  }
			  logoUrls=$("#logoUrls").val();
			  $("#logo").val(logoIds);
			  
		      var urlArray=urls.split(",");
		      var idArray=ids.split(",");
		      var div="";
		      for(var i= 0;i<urlArray.length;i++){
		    	  div=div+"<div class='col-sm-6 col-md-4' id='"+idArray[i]+"_div' style='height: 200px;width: 130px;'>"
				 	+"<div class='thumbnail' style='height: 130px;width: 130px;'>"
				 	+"<img src='"+file_upload_prefix+urlArray[i]+"' id='"+idArray[i]+"_img'>"
				 	+"<div class='caption'>"
				 	+"<p style='text-align:center'><a class='btn btn-primary' id='"+idArray[i]+"' onclick='logos_delete(event);' role='button'>删除</a></p>"
				 	+"</div>"
				 	+"</div>"
				 	+"</div>";
	          } 
		      
		 	$("#logo_img_list").append(div); 
		}
  });
  
  function logos_delete(event){
	  var id = event.target.id+"";	 
	  $("#"+id+"_div").remove();
	  var logoIds = $("#logoIds").val();
	  var logoUrls = $("#logoUrls").val();
	  var urlArray=logoUrls.split(",");
      var idArray=logoIds.split(",");
      var logoIds_new="";
      var logoUrls_new="";
      for(var i= 0;i<idArray.length;i++){
    	  if(idArray[i]!=id){
    		  logoIds_new=logoIds_new+idArray[i]+",";
    		  logoUrls_new=logoUrls_new+urlArray[i]+",";
    	  }
      }
      logoIds_new=logoIds_new.substr(0,logoIds_new.length-1);
      logoUrls_new=logoUrls_new.substr(0,logoUrls_new.length-1);
      $("#logoIds").val(logoIds_new);
      $("#logo").val(logoIds_new);
      $("#logoUrls").val(logoUrls_new);
  }

var speical_child_add_page = {
		onClick:function(e, treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("specialChildTree"),
			nodes = zTree.getSelectedNodes(),
			v = "";
			nodes.sort(function compare(a,b){return a.id-b.id;});
			for (var i=0, l=nodes.length; i<l; i++) {
				v += nodes[i].name + ",";
			}
			if (v.length > 0 ) v = v.substring(0, v.length-1);
			var cityObj = $("#citySel");
			cityObj.attr("value", v);
			
			v2 = "";
			for (var i=0, l=nodes.length; i<l; i++) {
				v2 += nodes[i].id + ",";
			}
			if (v2.length > 0 ) v2 = v2.substring(0, v2.length-1);
			var parentObj = $("#parentId");
			parentObj.attr("value", v2);
		}
};
var special_child_add_setting = {
		view: {
			dblClickExpand: false
		},
		data: {
			simpleData: {
				enable: true
			}
		},
		callback: {
			onClick: speical_child_add_page.onClick
		},
		check: {
			enable: true,   //true / false 分别表示 显示 / 不显示 复选框或单选框
		　　autoCheckTrigger: true,   //true / false 分别表示 触发 / 不触发 事件回调函数
		　　chkStyle: "checkbox",   //勾选框类型(checkbox 或 radio）
		　　chkboxType: { "Y": "s", "N": "s" }   //勾选 checkbox 对于父子节点的关联关系
		}
	};

jQuery(function($) {
	//初始化新闻分类树
	loadMenuByJsonStr(getCategoryTree(3), "specialChildTree", special_child_add_setting);
});		
$("#submitbutton").on('click',function() {
	if(!$("#logo").val()){
		alert("请上传图片！");
		return;
	}
	var data = $("#submitForm").serialize();
	//获取选中新闻分类节点
	var recommPriorityNull=$("#recommPriority").val();
	if(recommPriorityNull==""){
		alert("推荐权重不能为空！");
		return;
	}
	//获取选中新闻分类节点
	var treeObj = $.fn.zTree.getZTreeObj("specialChildTree");
	
	//父节点
	//var specialObj=$.fn.zTree.getZTreeObj("specialParentTree");
	var parentId;
	<#if special??>
		parentId = '${special.specialId!}';
	</#if>	
	var parentName="";
	<#if special??>
		parentName = '${special.specialName!}';
	</#if>	
	
	var nodes = treeObj.getCheckedNodes(true);
    var id_array = [];
	if(nodes.length>0){
		for(var i=0;i<nodes.length;i++){
			id_array.push(nodes[i].id);
		}
	}
	var relatedCategoryId = id_array.toString();
	data = data+"&categoryIds="+relatedCategoryId;
	if(parentId!=null){
		data = data+"&parentId="+parentId;
	}
	data=data+"&status=1";
		
		if(validateForm()){
			 $.ajax({
				type: 'POST',
				url: saveSpecialContentUrl,
				data: data,
				dataType:'json',
				success: function(data) {
					if(data){
						alert(data.message);
						if(data.result==1) {
							$modalInfo.modal('hide');
							var url=childListUrl+"?specialId="+parentId+"&specialName="+parentName;
							$("#childPage").load(url);
						}
					
					}else{
						alert("修改失败！");
					}
					
				},
				errer:function(e){
					alert("");
				}
			});
		}

	});
function validateForm(){
	return true;
}

var treeJson;
function getCategoryTree(typeId){
	var url = loadCategoryTreeUrl;
	if(typeId){
		//url = "getCategoryJsonByType.do" +"?typeId="+typeId;
	}
	$.ajax({
		type : "POST",
		async: false, //同步
		url : url,
		dataType : "json",
		success : function(data) {
			if (data != null) {
				treeJson = data;
			}
		}
	});
	return treeJson;
}
function add_List(){
	var img_url = "<#if specialOld??>${specialOld.logoUrls!}</#if>"; 
	var img_id = "<#if specialOld??>${specialOld.logo!}</#if>";
	if(img_url!=null&&img_url!=""){
		var img_urls = img_url.split(",");
		var img_ids = img_id.split(",");
		for(var i in img_urls){
			var div="<div class='col-sm-6 col-md-4' id='"+img_ids[i]+"_div' style='height: 130px;width: 130px;'>"
			 	+"<div class='thumbnail' style='height: 130px;width: 130px;'>"
			 	+"<img src='"+file_upload_prefix+img_urls[i]+" 'id='"+img_ids[i]+"_img'>"
			 	+"<div class='caption'>"
			 	+"<p style='text-align:center'><a class='btn btn-primary' id='"+img_ids[i]+"' onclick='logos_delete(event);' role='button'>删除</a></p>"
			 	+"</div>"
			 	+"</div>"
			 	+"</div>";
		 	$("#logo_img_list").append(div);
		}
	}
     $("#logo").val(img_id);
     $("#logoIds").val(img_id);
     $("#logoUrls").val(img_url);
}
</script>