<div class="modal-dialog modal-lg" role="document" style="width: 50%;">
			    <div class="modal-content">
			      <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h5 class="modal-title">
						<span class="glyphicon glyphicon-file"></span> <span>修改国家</span>
					</h5>
					</div>
			      <div class="modal-body">
			      <form class="form-horizontal">
					<div class="form-group form-group-sm">
					<label class="col-sm-2 control-label">国家名称</label>
						<div class="col-sm-8">
						<input type="text" class="form-control"  id="country_update_name" placeholder="国家名称" disabled="disabled">
					</div>
					</div>
				</form>
				<form class="form-horizontal">
					<div class="form-group form-group-sm">
					<label class="col-sm-2 control-label">经度</label>
						<div class="col-sm-8">
						<input type="text" class="form-control"  id="country_update_longitude" placeholder="经度" disabled="disabled">
					</div>
					</div>
				</form>
				<form class="form-horizontal">
					<div class="form-group form-group-sm">
					<label class="col-sm-2 control-label">纬度</label>
						<div class="col-sm-8">
						<input type="text" class="form-control"  id="country_update_latitude" placeholder="纬度" disabled="disabled">
					</div>
					</div>
				</form>
				<form class="form-horizontal">
					<div class="form-group form-group-sm">
					<label class="col-sm-2 control-label">半径</label>
						<div class="col-sm-8">
						<input type="text" class="form-control"  id="country_update_radius" placeholder="半径">
					</div>
					</div>
				</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> 关闭</button>
			        <button  data-action="" onclick="countrySaveOrUpdate_edit();" type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-saved"></span> 保存</button>
			      </div>
			    </div>
			  </div>
<script type="text/javascript">
	
	function countrySaveOrUpdate_edit(){
		var countryUpdateName = $("#country_update_name").val();
		var countryUpdateLongitude = $("#country_update_longitude").val();
        var countryUpdateLatitude = $("#country_update_latitude").val();
        var countryUpdateRadius = $("#country_update_radius").val();
        $countryModal.on('hidden.bs.modal', function () {
        	loadMain(countryUrl);
        });
        
		if(!countryUpdateName){
			alert("请填写国家名");
			return false;
		}
		if (!countryUpdateLongitude) {
            alert("经度不能为空！");
            return false;
        }
        if (!countryUpdateLatitude) {
            alert("纬度不能为空！");
            return false;
        }
        if (!countryUpdateRadius) {
            alert("半径不能为空！");
            return false;
        }
		
		$.ajax({
		    type:"POST",
		    data:{
		    	"countryId":countryIds,
		    	"countryName":countryUpdateName,
		    	"longitude":countryUpdateLongitude,
		    	"latitude":countryUpdateLatitude,
		    	"radius":countryUpdateRadius}, 
		    dataType:"json",
		    url: "${rc.contextPath}/country/v_saveOrUpdate.do",
		    success:function(data){
		    	alert(data.message);
		    	hideModal($ecountryModal);
		    	var dateCur={"countryId":curCountryId,"provinceId":curProvinceId};
		    	$(".hk-main").load(countryUrl,dateCur);
		    		/* $$countryModal.modal('hide');//手动关闭模态框 */
		    		/* alert("添加成功"); */
		    	
		    	
		    }
		
		});
	
	}
	//验证表单
    function validateForm() {

        return true;
    }
</script>
		