<script type="text/javascript">
	var saveOrUpdateVideoUrl = "${rc.contextPath}/content/saveOrUpdateVideo.do"
	var videoContentList = "${rc.contextPath}/content/v_list.do"
	var changeDescUrl = "${rc.contextPath}/content/changeDesc.do"
	var updateDescUrl = "${rc.contextPath}/content/updateDesc.do"
</script>
<!-- Modal 视频内容-添加-->
<div class="modal-dialog modal-lg" role="document" style="width: 80%">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h5 class="modal-title">
				<span class="glyphicon glyphicon-file"></span> <span>添加数据</span>
			</h5>
		</div>
		<div class="modal-body">
			<form id="videoform_tuji" name="videoform" class="form-horizontal">
				<div class="row">
					<div class="col-md-8">
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">标题</label>
							<div class="col-sm-10">
								<input type="text" id="tuji_add_title" name="title"
									value="<#if r??>${r.title!}</#if>" class="form-control"
									placeholder="标题">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">摘要</label>
							<div class="col-sm-10">
								<textarea class="form-control" id="tuji_add_summary"
									name="summary" placeholder="摘要" cols="30" rows="5"></textarea>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">图片列表</label>
							<div class="rcol-sm-10" id="image_desc_add" style="height:420px; overflow:auto"></div>
						</div>

					</div>

					<div class="col-md-4">
						<div class="form-group form-group-sm" style="margin-left: 15px;">
							<div class="col-sm-5 input-group input-group-sm">
								<span class="input-group-addon">新闻类型</span> <select
									id="contentTypeId_tuji" name="contenttypeId"
									class="form-control">
									<option value="5">图集</option>
								</select>
							</div>
						</div>
						<!-- <div class="form-group form-group-sm" style="margin-left: 15px;">
							<div class="col-sm-5 input-group input-group-sm">
								<span class="input-group-addon">选择审核流程</span> <select
									id="auditFlowId_tuji" name="auditFlowId" class="form-control">
									<option value="-1">...请选择...</option>
									<#if auditList??> <#list auditList as a>
									<option value="${a.flowId}">${a.flowName}</option>
									</#list> </#if>
								</select>
							</div>
						</div> -->
						
						
						<div class="form-group form-group-sm" style="margin-left: 15px;">
							<div class="col-sm-5 input-group input-group-sm">
								<span class="input-group-addon">选择来源</span> <select
									id="auditFlowId_tuji" name="originId" class="form-control">
									<#if originList??> <#list originList as s>
									<option value="${s.originId}"><#if s.originName??>${s.originName}</#if></option>
									</#list> </#if>
								</select>
							</div>
						</div>

						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">来源链接</label>
							<div class="col-sm-10">
								<input type="text" id="tuji_add_origin_url" name="originUrl"
									class="form-control" placeholder="来源链接">
							</div>
						</div>

						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">是否置顶</label>
							<div class="col-sm-10">
								<#if (r.top)??> <#if r.top==0> <input
									type="radio" value="1" name="top" id="enable" />是 <input
									type="radio" value="0" name="top" id="disable"
									checked="checked" />否 </#if> <#if r.top==1> <input type="radio"
									value="1" name="top" id="enable" checked="checked" />是 <input
									type="radio" value="0" name="top" id="disable" />否 </#if> <#else>
								<input type="radio" value="1" name="top" id="enable" />是 <input
									type="radio" value="0" name="top" id="disable"
									checked="checked" />否 </#if>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">显示位置</label>
							<div class="col-sm-10">
								<input type="number" min="1" max="20" id="tuji_add_manuallySortNum" name="manuallySortNum"
									value="<#if  r??>${r.manuallySortNum!}</#if>" class="form-control"
									placeholder="在列表中显示的位置(1-20)，可不填">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">推荐权重</label>
							<div class="col-sm-10">
								<input type="number" min="1" max="10" id="tuji_add_priority" name="priority"
									value="<#if  r??>${r.priority!}</#if>" class="form-control"
									placeholder="推荐权重(1-10)">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">作者</label>
							<div class="col-sm-10">
								<input type="text" id="tuji_add_author" name="author"
									value="<#if r??>${r.author!}</#if>" class="form-control"
									placeholder="作者">
							</div>
						</div>

						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">关键词</label>
							<div class="col-sm-10">
								<input type="text" id="tuji_add_keywordIds" name="keywordIds"
									value="<#if r??>${r.keywordIds!}</#if>" class="form-control"
									placeholder="关键词">
							</div>
						</div>

						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">短标题</label>
							<div class="col-sm-10">
								<input type="text" id="tuji_add_shortTitle" name="shortTitle"
									value="<#if r??>${r.shortTitle!}</#if>" class="form-control"
									placeholder="短标题">
							</div>
						</div>


						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">选择位置</label>
							<div class="col-sm-10">
								<div class="form-group form-group-sm">
									<div class="col-sm-3">
										地址: <input id="videocityName_tuji" type="text" name="location"
											style="width: 100px; margin-right: 10px;" /> <input
											type="button" value="查询" onclick="tuwenMapSearch()" />
									</div>
									<div class="col-sm-3">
										纬度:<input type="text" name="latitude" id="videojd_tuji"
											value="<#if r??>${r.latitude!}</#if>" readonly="readonly"/>
									</div>
									<div class="col-sm-3">
										经度:<input type="text" name="longitude" id="videowd_tuji"
											value="<#if r??>${r.longitude!}</#if>" readonly="readonly" />
									</div>
								</div>
								<div style="height: 200px;" id="videomap_tuji"></div>
							</div>
						</div>


					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<!-- <textarea id="videoContentTextarea_tuji" style="display: none" name="content">
					 </textarea>
					 <div class="form-group form-group-sm">
					  <label class="col-sm-2 control-label">内容</label>
					  <div class="col-sm-10">
					  	<div id="videoContentEditor_tuji" >
								 <#if contentData??>
						    	${contentData.content}
						    </#if>
							</div>
					  </div>
					 </div> -->

						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">图集</label>
							<div class="col-sm-10" style="z-index: 99;">
								<input id="modalvideo_add_filecover_tuji" type="file"
									name="myfile" multiple="multiple"> 
									<input type="hidden"
									name="thumbUrl" id="videothumbUrl_tuji" value="" /> <input
									type="hidden" name="attachmentIds" id="attachmentIds_tuji"
									value="" />
							</div>
						</div>
						<div class="form-group form-group-sm">
										<label class="col-sm-2 control-label">封面 </label>
										<div class="col-sm-10">
											<input id="modaltuji_add_filecover" type="file" name="myfile"
												multiple="multiple"> <input type="hidden"name="thumbUrl" id="tujithumbUrls"> 
												<input type="hidden" id="thumbIds_tuji_add" name="thumbIds">
										</div>
						</div>
						<div class="form-group form-group-sm">
						<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10" id="tuji_img_lists" style="height:200px; overflow:auto">
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">原始分类</label>
							<div class="col-sm-8 input-group input-group-sm">
								<select
									id="srcCategoryId_tuji" name="srcCategoryId" class="form-control">
									<option value="-1">--请先选择分类--</option>
								</select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">所属分类</label> <input
								type="hidden" id="videocategoryIds_tuji" name="categoryIds" />
							<div class="col-sm-10">
								<ul id="videotreeDemo_tuji" class="ztree"
									style="margin-top: 0; width: 260px;"></ul>
							</div>
						</div>


					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-info btn-sm"
				data-dismiss="modal">
				<span class="glyphicon glyphicon-remove"></span> 关闭
			</button>
			<button id="btnSaveTuji" data-action="" type="button"
				class="btn btn-info btn-sm">
				<span class="glyphicon glyphicon-saved"></span> 保存
			</button>
		</div>

		<div id="Image_discript" tabindex="-1" role="dialog"
			aria-labelledby="Image_discript"
			style="display: none; height: 100%; width: 100%; position: absolute; left: 0px; top: 200px; z-index: 100">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">添加图片描述</h5>
					</div>
					<div class="modal-body" >
						<textarea id="desc_tuji_add" style="width: 100%;"
							placeholder="请输入图片描述"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" id="Image_discript_close"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-remove"></span> 关闭
						</button>
						<button type="button" id="imgDescSave" class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-saved"></span> 保存
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<div id="Image_discript_change" tabindex="-1" role="dialog"
			aria-labelledby="Image_discript"
			style="display: none; height: 100%; width: 100%; position: absolute; left: 0px; top: 200px; z-index: 100">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">修改图片描述</h5>
					</div>
					<input type="hidden" id="image_id_changed" value="">
					<div class="modal-body">
						<textarea id="desc_tuji_add_change" rows="20" cols="90"
							placeholder="请输入图片描述"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" id="Image_discript_close_change"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-remove"></span> 关闭
						</button>
						<button type="button" id="imgDescSave_change" class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-saved"></span> 保存
						</button>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
</div>

<script type="text/javascript">

	var tuji_add_page = {
		//wangEditor 控件实例演示
		wangEditorInit : function() {
			var editor = new wangEditor('#videoContentEditor_tuji');
			editor.customConfig.uploadFileName = 'myfile'
			editor.customConfig.uploadImgServer = img_upload_url;//图片服务器上传路径
			editor.customConfig.onchange = function(html) {
				// 监控变化，同步更新到 textarea
				$('#videoContentTextarea_tuji').val(html)
			}
			editor.customConfig.uploadImgHooks = {
				success : function(xhr, editor, result) {
					// 图片上传并返回结果，图片插入成功之后触发
				},
				// （但是，服务器端返回的必须是一个 JSON 格式字符串！！！否则会报错）
				customInsert : function(insertImg, result, editor) {
					if (result) {
						var url = result.urls;
						url = file_show_prefix + url;
						insertImg(url)
					}
				}
			}
			//editor.create();

		},
		//表单校验
		tujiformValidate : function() {
			var zTreeO = $.fn.zTree.getZTreeObj("videotreeDemo_tuji");
			var nodeIds = zTreeO.getCheckedNodes(true);
			if (nodeIds == null || nodeIds.length == 0) {
				alert("至少选择一个所属分类!");
				return false;
			}
			if ($.trim($("#tuji_add_title").val()) == null
					|| $.trim($("#tuji_add_title").val()).length == 0) {
				alert("请填写标题!");
				return false;
			}
			if ($.trim($("#tuji_add_summary").val()) == null
					|| $.trim($("#tuji_add_summary").val()).length == 0) {
				alert("请填写摘要!");
				return false;
			}
			if ($.trim($("#tuji_add_keywordIds").val()) == null
					|| $.trim($("#tuji_add_keywordIds").val()).length == 0) {
				alert("请填关键词!");
				return false;
			}
			if ($.trim($("#tuji_add_shortTitle").val()) == null
					|| $.trim($("#tuji_add_shortTitle").val()).length == 0) {
				alert("请填短标题!");
				return false;
			}
			if ($.trim($("#videowd_tuji").val()).length == 0
					|| $.trim($("#videojd_tuji").val()).length == 0) {
				alert("请选择位置!");
				return false;
			}
			if ($("#srcCategoryId_tuji").val() == -1) {
				alert("请选择原始分类!");
				return false;
			}
			
			/* if ($("#auditFlowId_tuji").val() == -1) {
				alert("请选择审核流程!");
				return false;
			} */
		
			/* if ($.trim($("#tuji_add_author").val()).length == 0) {
				alert("请输入作者名!");
				return false;
			} */
			var sortNum=$("#tuji_add_manuallySortNum").val();
			if(sortNum){
				if(sortNum<1||sortNum>20){
					alert("列表显示位置必须是1-20");
					return false;
				}
			}
			var priority=$("#tuji_add_priority").val();
			if(priority){
				if(priority<1||priority>10){
					alert("推荐权重必须是1-10");
					return false;
				}
			}else{
				$("#tuji_add_priority").val("1");
			}
			return true;
		},
		loadMenu : function(resourceType, treeObjId, setting) {
			//$.fn.zTree.init($("#" + treeObjId), setting, null);
			$.ajax({
				type : "POST",
				url : resourceType,
				dataType : "json",
				success : function(data) {
					// 如果返回数据不为空，加载"业务模块"目录
					if (data != null) {
						// 将返回的数据赋给zTree
						zTree = $.fn.zTree.init($("#" + treeObjId), setting,
								data);
						if (zTree) {
							// 默认展开所有节点
							zTree.expandAll(true);
							//如果是编辑，选中节点
							var treeNodeId = '<#if r??>${r.categoryId!}</#if>';
							if (treeNodeId != '') {
								var nodes = zTree.getNodesByParam("id",
										treeNodeId, null);
								if (nodes.length > 0) {
									for (var i = 0; i < nodes.length; i++) {
										nodes[i].checked = true;
										zTree.updateNode(nodes[i]); //重要
									}
								}
							}
						}
					}
				}
			});
		}
	};

	function filter(node) { //过滤器直选中2级节点累加 
		return (node.checked == true);
	}

	function ztreeCheck_tuji(e, treeId, treeNode) { //这是将所有选中节点的名字 用,分割做拼接 用于持久化到数据库 
		//console.info(treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
		var zTreeObj = $.fn.zTree.getZTreeObj(treeId);
		var zTree = zTreeObj.getNodesByFilter(filter);
		var choose = "";
		var idListStr = "";
		var div="";
		if(zTree.length>0){
			div=div+"<option value='-1'>--请选择--</option>";
		}else{
			div=div+"<option value='-1'>--请先选择分类--</option>";
		}
		
		for (var i = 0; i < zTree.length; i++) {
			if (zTree[i].name != null) {
				choose += (i == (zTree.length - 1)) ? zTree[i].name
						: zTree[i].name + ",";
			}
			if (zTree[i].id != null) {
				idListStr += (i == (zTree.length - 1)) ? zTree[i].id
						: zTree[i].id + ",";
			}
			
			div=div+"<option value='"+zTree[i].id+"'>"+zTree[i].name+"</option>"

		}
		$("#srcCategoryId_tuji").children().remove();
		$("#srcCategoryId_tuji").append(div);
		//设值
		$("#videocategoryIds_tuji").attr('value', idListStr);
	}

	var setting = {
		check : {
			enable : true,
			chkStyle : "checkbox",
			chkboxType : {
				"Y" : "",
				"N" : ""
			}
		},
		callback : {
			onCheck : ztreeCheck_tuji
		},

		data : {
			simpleData : {
				enable : true,
				idKey : "id",
				pIdKey : "pId",
				rootPId : 0
			}
		}
	};
	/*********文件上传***********/

	function tujifileInputInit() {
		$('#modalvideo_add_filecover_tuji').fileinput({
					language : 'zh',//语言中文
					msgPlaceholder:"选择上传图片(注意每次只能上传一张！)",
					filePlural:"",
					showCaption : true,//文本框
					showPreview : false,//预览
					showUpload : false,//上传按钮
					uploadAsync : false, //默认异步上传,此处改为同步
					showClose : true,//预览框关闭按钮
					showBrowse : true,//上传按钮
					showRemove : false,//是否显示移除按钮
					browseOnZoneClick : false,//点击拖拽区不上传
					initialPreviewShowDelete : true,
					allowedFileExtensions : [ 'jpg', 'png', 'gif' ],//允许文件类型
					browseClass : 'btn btn-info btn-sm', //样式
					captionClass : 'input-sm',
					removeClass : 'btn btn-info btn-sm',
					uploadClass : 'btn btn-info btn-sm',
					enctype : 'multipart/form-data',
					maxFileCount:1,
					msgFilesTooMany:1,
					uploadUrl : img_upload_url,//服务器端图片接收处理路径,
					deleteExtraData : {},
					uploadExtraData : function() {
						return {
							'desc' : $("#desc_tuji_add").val()
						};
					}
				})
				.on("filebatchuploadsuccess",function(event, data, previewId, index) {
							//同步上传返回结果处理
							console.info(data.response);
							if (data.response) {
								var obj = data.response;
								var urls = obj.urls;
								var ids = obj.ids;
								var attachmentIds_tuji = $("#attachmentIds_tuji").val();
								if (attachmentIds_tuji) {
									$("#attachmentIds_tuji").val(attachmentIds_tuji + "," + ids);
								} else {
									$("#attachmentIds_tuji").val(ids);
								}
								var image_desc = $("#desc_tuji_add").val();
								
								if(image_desc.length>15){
									image_desc=image_desc.substring(0,15)+"...";
								}
								var image = "<div id='"+ids+"_div' class='col-sm-6 col-md-4' style='height: 250px;width: 180px;'>"
										+ "<div align='center' style='height:250px;width: 180px;'>"
										+"<div class='thumbnail' style='height:130px;width:130px;' >"
										+ "<img src='"+file_upload_prefix+urls+"' style='width:100%;height:100%;'>"
										+"</div>"
										+"<div style='height:50px;width:130px;'>"
										+ "<p id='"+ids+"_desc_print' style='height:100%;width:100%;'>描述:"+image_desc+"</p>"
										+"</div>"
										+ "<div class='caption'>"
										+ "<p style='text-align:center'><a class='btn btn-primary' id='"+ ids
										+ "' role='button' onclick='image_remove(event);'>删除</a>"+
										"<a class='btn btn-primary' id='"+ ids
										+ "_desc' role='button' onclick='add_image_desc(event);'>修改</a></p>"
										+ " </div>" + "</div>" + "</div>";
								$("#image_desc_add").append(image);
							}
						}).on("filebatchselected", function(event, files) {
							$("#desc_tuji_add").val("");
							$("#Image_discript").css("display", "block");
						});
	}

	var videolocal_tuji;
	$(function() {
		//video_add_page.ueditorInit();
		tuji_add_page.wangEditorInit();
		videofileInputInit();
		tujifileInputInit();
		tuji_add_page.loadMenu("${rc.contextPath}/category/allCategoryJson.do?status=1",
				"videotreeDemo_tuji", setting);
		var map = new BMap.Map("videomap_tuji");
		var point = new BMap.Point(116.331398, 39.897445);
		map.centerAndZoom(point, 11);
		map.addEventListener("click", function(e) {
			$("#videowd_tuji").val(e.point.lng);
			$("#videojd_tuji").val(e.point.lat);
			//$("#videowd_tuji").attr("value", e.point.lng);
			//$("#videojd_tuji").attr("value", e.point.lat);
			searchAddress_tuji();
		});
		map.enableScrollWheelZoom(point,12);
		map.addControl(new BMap.NavigationControl());
		videolocal_tuji = new BMap.LocalSearch(map, {
			renderOptions : {
				map : map
			}
		});
	});
function searchAddress_tuji(){
		
		var lon=$("#videowd_tuji").val();
		var lat=$("#videojd_tuji").val();
		$.ajax({
			url:"content/apiAddress.do",
			data:{"longitude":lon,"latitude":lat},
			dataType:"json",
			type:"post",
			success:function(data){
				console.log(data);
				if(data!=null){
					$("#videocityName_tuji").val(data);
				}
			}
			
			
			
		});
}
	function tuwenMapSearch() {
		var city = $("#videocityName_tuji").val();
		if (city != "") {
			videolocal_tuji.search(city);
		}
	}
	$("#btnSaveTuji").on('click', function() {
		var validated = tuji_add_page.tujiformValidate();
		if (validated == false) {
			return false;
		}

		//先上传封面,回调成功再往下执行
		//$('#modalvideo_add_filecover_tuji').fileinput('upload');
		cotent_save_tuji();
	});
	function cotent_save_tuji() {
		if($("#attachmentIds_tuji").val()==""){
			alert("至少传一张图片！");
			return;
		}
		document.getElementById("btnSaveTuji").disabled = false;
		$.ajax({
			type : "POST",
			data : $("#videoform_tuji").serialize(),
			dataType : "json",
			url : saveUrl,
			success : function(data) {
				if (data.status == 200) {
					alert(data.message);
					$modalInfoImgset.modal('hide');
				} else {
					alert(data.message);
					$modalInfoVideo.modal('hide');
				}
				document.getElementById("btnSaveTuji").disabled = true;
			},
			error : function(e) {
				alert("异常！");
				document.getElementById("btnSaveTuji").disabled = true;
			}

		});

	}
	
	$("#Image_discript_close").click(function() {
		$("#desc_tuji_add").val("");
		$("#Image_discript").css("display", "none");
		$('#modalvideo_add_filecover_tuji').fileinput('clear');
	});
	$("#imgDescSave").click(function() {
		var description = $("#desc_tuji_add").val();
		$("#Image_discript").css("display", "none");
		$('#modalvideo_add_filecover_tuji').fileinput('upload');
	});
	$("#Image_discript_close_change").click(function() {
		$("#image_id_changed").val();
		$("#desc_tuji_add_change").val("");
		$("#Image_discript_change").css("display", "none");
	});
	$("#imgDescSave_change").click(function() {
		var description = $("#desc_tuji_add_change").val();
		var fileId=$("#image_id_changed").val();
		var url=updateDescUrl;
		var data={"fileId" : fileId,
				"fileDesc" : description}
		$.ajax({
			type : "POST",
			dataType : "json",
			url : url,
			data : data,
			success : function(data) {
				if(data){
					alert(data.message);
					if(data.result==1){
						var x=document.getElementById(fileId+"_desc_print");
						if(description.length>15){
							description=description.substring(0,15)+"...";
						}
						x.innerHTML="描述:"+description;
						$("#Image_discript_change").css("display", "none");
					}
				}
			},
			error : function(e) {
				alert(e.message);
			}

		});
	});
	function add_image_desc(event){
		var ids = event.target.id;
		ids=ids.substring(0,ids.length-5);
		var url=changeDescUrl+"?fileId="+ids;
		$.ajax({
			type : "POST",
			dataType : "json",
			url : url,
			success : function(data) {
				if(data){
					$("#desc_tuji_add_change").val(data.fileDesc);
					$("#image_id_changed").val(data.fileId);
					$("#Image_discript_change").css("display", "block");
				}
			},
			error : function(e) {
				alert(e.message);
			}

		});
		
		
	}
	
	function image_remove(event) {
		var ids = event.target.id;
		var id = ids + '_div';
		var url = $("#" + id).attr("value");
		$("#" + id).remove();
		var attachmentIds_tuji = $("#attachmentIds_tuji").val();
		var attachmentIds_tujis = attachmentIds_tuji.split(",");
		var attachmentIds_tuji_new;
		for ( var i in attachmentIds_tujis) {
			if (attachmentIds_tujis[i] == ids) {
				attachmentIds_tujis[i] = "";
			}
			if (attachmentIds_tujis[i] != "") {
				if (attachmentIds_tuji_new) {
					attachmentIds_tuji_new = attachmentIds_tuji_new + ","
							+ attachmentIds_tujis[i];
				} else {
					attachmentIds_tuji_new = attachmentIds_tujis[i];
				}
			}
		}
		var attachmentIds_tuji = $("#attachmentIds_tuji").val(
				attachmentIds_tuji_new);
	}
	
	
	
	
	function videofileInputInit() {
		//上传封面
		$('#modaltuji_add_filecover').fileinput({
			language : 'zh',//语言中文
			msgPlaceholder:"选择封面图片...",
			showCaption : true,//文本框
			showPreview : false,//预览
			showUpload : true,//上传按钮
			uploadAsync : false, //默认异步上传,此处改为同步
			showClose : true,//预览框关闭按钮
			showBrowse : true,//上传按钮
			browseOnZoneClick : false,//点击拖拽区不上传
			initialPreviewShowDelete : true,
			allowedFileExtensions : [ 'jpg', 'png', 'gif' ],//允许文件类型
			browseClass : 'btn btn-info btn-sm', //样式
			captionClass : 'input-sm',
			removeClass : 'btn btn-info btn-sm',
			uploadClass : 'btn btn-info btn-sm',
			enctype : 'multipart/form-data',
			uploadUrl : img_upload_url,//服务器端图片接收处理路径
		}).on("filebatchuploadsuccess",
				function(event, data, previewId, index) {
					//同步上传返回结果处理
					console.info(data.response);
					if (data.response) {
						var obj = data.response;
						var urls = obj.urls;
						var ids = obj.ids;
						var oldUrl = $("#tujithumbUrls").val();
						var oldIds = $("#thumbIds_tuji_add").val();
						if (oldUrl != "") {
							oldUrl = oldUrl + "," + urls;
						} else {
							oldUrl = urls;
						}
						if (oldIds != "") {
							oldIds = oldIds + "," + ids;
						} else {
							oldIds = ids;
						}
						$("#tujithumbUrls").val(oldUrl);
						$("#thumbIds_tuji_add").val(oldIds);
						drowImageTuwen(oldUrl, oldIds);
					}
				});
	}
	
	function drowImageTuwen(img_url, img_id) {
		$("#tuji_img_lists").children().remove();
		if (img_url != null && img_url != "") {
			var img_urls = img_url.split(",");
			var img_ids = img_id.split(",");
			for ( var i in img_urls) {
				
				var div = "<div id='"+img_ids[i]+"_div' class='col-sm-6 col-md-4' style='height: 180px;width: 180px;'>"
				+ "<div align='center' style='height:180px;width: 180px;'>"
				+"<div class='thumbnail' style='height:130px;width:130px;' >"
				+ "<img src='"+file_upload_prefix+img_urls[i]+"' style='width:100%;height:100%;'>"
				+"</div>"
				+ "<div class='caption'>"
				+ "<p style='text-align:center'><a class='btn btn-primary' id='"+img_ids[i]
				+ "' role='button' onclick='tuji_img_delete(event);'>删除</a></p>"
				+ " </div>" + "</div>" + "</div>";

				$("#tuji_img_lists").append(div);
			}
		}
	}
	
	function tuji_img_delete(event) {
		var id = event.target.id + "";
		$("#" + id + "_div").remove();

		var logoIdsChange = $("#thumbIds_tuji_add").val();
		var logoUrlsChange = $("#tujithumbUrls").val();

		var urlArray = logoUrlsChange.split(",");
		var idArray = logoIdsChange.split(",");
		var logoIdsChange_new = "";
		var logoUrlsChange_new = "";
		for (var i = 0; i < idArray.length; i++) {
			if (idArray[i] != id) {
				logoIdsChange_new = logoIdsChange_new + idArray[i] + ",";
				logoUrlsChange_new = logoUrlsChange_new + urlArray[i] + ",";
			}
		}
		logoIdsChange_new = logoIdsChange_new.substr(0,
				logoIdsChange_new.length - 1);
		logoUrlsChange_new = logoUrlsChange_new.substr(0,
				logoUrlsChange_new.length - 1);
		$("#thumbIds_tuji_add").val(logoIdsChange_new);
		$("#tujithumbUrls").val(logoUrlsChange_new);
	}
	
	
	

</script>
