<script type="text/javascript">
	var saveOrUpdateVideoUrl = "${rc.contextPath}/content/saveOrUpdateVideo.do"
	var videoContentList = "${rc.contextPath}/content/v_list.do"
</script>
<!-- Modal 视频内容-添加-->
<div class="modal-dialog modal-lg" role="document" style="width: 80%">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h5 class="modal-title">
				<span class="glyphicon glyphicon-file"></span> <span>添加数据</span>
			</h5>
		</div>
		<div class="modal-body">
			<form id="videoform_tuji_edit" name="videoform"
				class="form-horizontal">
				<div class="row">
					<div class="col-md-8">
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">标题</label>
							<div class="col-sm-10">
								<input type="text" name="title" id="tuji_edit_title"
									value="<#if r??>${r.title!}</#if>" class="form-control"
									placeholder="标题">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">摘要</label>
							<div class="col-sm-10">
								<textarea class="form-control" name="summary"
									id="tuji_edit_summary" placeholder="摘要" cols="30" rows="5"><#if csmcontent??>${csmcontent.summary!''}</#if></textarea>
							</div>
						</div>
						<div style="margin-left: 115px;">
							<label class="control-label">图片列表</label>
							<div class="row" id="tuji_img_list"  style="height:420px; overflow:auto"></div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group form-group-sm" style="margin-left: 15px;">
							<div class="col-sm-5 input-group input-group-sm">
								<span class="input-group-addon">新闻类型</span> <select
									id="contentTypeId_tuji_edit" name="contenttypeId"
									class="form-control">
									<option value="5">图集</option>
								</select>
							</div>
						</div>
						<!-- <div class="form-group form-group-sm" style="margin-left: 15px;">
							<div class="col-sm-5 input-group input-group-sm">
								<span class="input-group-addon">审核流程</span> <input type="text"
									value="<#if audit??>${audit.flowName!}</#if>"
									disabled="disabled" />
							</div>
						</div> -->
						<!-- <div class="form-group form-group-sm" style="margin-left: 15px;">
							<div class="col-sm-5 input-group input-group-sm">
								<span class="input-group-addon">作者</span> <input type="text"
									value="<#if csmcontent??>${csmcontent.author!}</#if>"
									disabled="disabled" />
							</div>
						</div> -->
						<div class="form-group form-group-sm" style="margin-left: 15px;">
							<div class="col-sm-5 input-group input-group-sm">
								<span class="input-group-addon">来源</span>
								<select
										id="auditFlowId_tuji" name="originId" class="form-control"
										value="${(contentData.origin.originId)!}">
									<#if originList??> <#list originList as s>
										<option value="${s.originId}" <#if '${(contentData.origin.originId)!}' == '${(s.originId)!2}' > selected="selected" </#if> ><#if s.originName??>${s.originName}</#if></option>
									</#list> </#if>
								</select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">来源链接</label>
							<div class="col-sm-10">
								<input type="text" id="tuji_edit_origin_url" name="originUrl"
									value="<#if contentData??>${contentData.originUrl!}</#if>"
									class="form-control" placeholder="来源链接">
							</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">是否置顶</label>
								<div class="col-sm-10">
									<#if (r.top)??> <#if r.top==0> <input
										type="radio" value="1" name="top" id="enable" />是 <input
										type="radio" value="0" name="top" id="disable"
										checked="checked" />否 </#if> <#if r.top==1> <input
										type="radio" value="1" name="top" id="enable"
										checked="checked" />是 <input type="radio" value="0" name="top"
										id="disable" />否 </#if> <#else> <input type="radio"
										value="1" name="top" id="enable" />是 <input type="radio"
										value="0" name="top" id="disable" checked="checked" />否 </#if>
								</div>
							</div>
							<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">作者</label>
							<div class="col-sm-10">
								<input type="text" id="tuji_edit_author" name="author"
									value="<#if r??>${r.author!}</#if>" class="form-control"
									placeholder="作者">
							</div>
						</div>
							<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">显示位置</label>
							<div class="col-sm-10">
								<input type="number" min="1" max="20" id="tuji_edit_manuallySortNum" name="manuallySortNum"
									value="<#if  r??>${r.manuallySortNum!}</#if>" class="form-control"
									placeholder="在列表中显示的位置(1-20)，可不填">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">推荐权重</label>
							<div class="col-sm-10">
								<input type="number" min="1" max="10" id="tuji_edit_priority" name="priority"
									value="<#if  r??>${r.priority!}</#if>" class="form-control"
									placeholder="推荐权重(1-10)">
							</div>
						</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">关键词</label>
								<div class="col-sm-10">
									<input type="text" name="keywordIds" id="tuji_edit_keywordIds"
										value="<#if r??>${r.keywordIds!}</#if>" class="form-control"
										placeholder="关键词">
								</div>
							</div>


							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">短标题</label>
								<div class="col-sm-10">
									<input type="text" name="shortTitle" id="tuji_edit_shortTitle"
										value="<#if r??>${r.shortTitle!}</#if>" class="form-control"
										placeholder="短标题">
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">选择位置</label>
								<div class="col-sm-10">
									<div class="form-group form-group-sm">
										<div class="col-sm-3">
											地址: <input id="videocityName_tuji_edit" type="text" name="location"
												style="width: 100px; margin-right: 10px;"  value="<#if r??>${r.location!} </#if>"/> <input
												type="button" value="查询" onclick="tuji_editMapSearch()" />
										</div>
										<div class="col-sm-3">
											纬度:<input type="text" name="latitude" id="videojd_tuji_edit"
												value="<#if r??>${r.latitude!}</#if>" readonly="readonly"/>
										</div>
										<div class="col-sm-3">
											经度:<input type="text" name="longitude" id="videowd_tuji_edit"
												value="<#if r??>${r.longitude!}</#if>" readonly="readonly"/>
										</div>
									</div>
									<div style="height: 200px;" id="videomap_tuji_edit"></div>
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">图片</label>
								<div class="col-sm-10">
									<input id="modalvideo_add_filecover_tuji_edit" type="file"
										name="myfile" multiple="multiple"> <input
										type="hidden" name="attachmentIds"
										id="attachmentIds_tuji_edit" value="" /> <input type="hidden"
										name="contentId" value="<#if csmcontent??>${csmcontent.contentId!''}</#if>" />
								</div>
							</div>
							<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">封面 </label>
							<div class="col-sm-10">
								<input id="modalvideo_add_filecover_tujiadd_edit" type="file"
									name="myfile" multiple="multiple" /> <input type="hidden"
									name="thumbUrl" id="tujithumbUrl_tuji_edit"
									value="<#if r??>${r.keywordIds!}</#if>" /> <input type="hidden"
									id="thumbIds_edit" name="thumbIds" />
									<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10" id="tujiedit_img_list"
								style="height: 200px; overflow: auto"></div>
						</div>
							</div>
							
						</div>
						</div>
						<div class="col-md-4">
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">原始分类</label>
								<div class="col-sm-8 input-group input-group-sm">
									<select
										id="srcCategoryId_tuji_edit" name="srcCategoryId" class="form-control">
										<option value="-1">--请先选择分类--</option>
									</select>
								</div>
							</div>
							<div class="form-group form-group-sm">
								<label class="col-sm-2 control-label">所属分类</label> <input
									type="hidden" id="videocategoryIds_tuji_edit"
									name="categoryIds" />
								<div class="col-sm-10">
									<ul id="videotreeDemo_tuji_edit" class="ztree"
										style="margin-top: 0; width: 260px;"></ul>
								</div>
							</div>


						</div>
					</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-info btn-sm"
				data-dismiss="modal">
				<span class="glyphicon glyphicon-remove"></span> 关闭
			</button>
			<button id="btnSaveTuji_edit" data-action="" type="button"
				class="btn btn-info btn-sm">
				<span class="glyphicon glyphicon-saved"></span> 保存
			</button>
		</div>

		<div id="Image_discript_edit" tabindex="-1" role="dialog"
			aria-labelledby="Image_discript_edit"
			style="display: none; height: 100%; width: 100%; position: absolute; left: 0px; top: 200px; z-index: 100">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">添加图片描述</h5>
					</div>
					<div class="modal-body">
						<textarea id="desc_tuji_edit" rows="20" cols="90"
							placeholder="请输入图片描述"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" id="Image_discript_close_edit"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-remove"></span> 关闭
						</button>
						<button type="button" id="imgDescSave_edit"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-saved"></span> 保存
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<div id="Image_discript_change_edit" tabindex="-1" role="dialog"
			aria-labelledby="Image_discript"
			style="display: none; height: 100%; width: 100%; position: absolute; left: 0px; top: 200px; z-index: 100">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">修改图片描述</h5>
					</div>
					<input type="hidden" id="image_id_changed_edit" value="">
					<div class="modal-body">
						<textarea id="desc_tuji_add_change_edit" style="width: 100%;"
							placeholder="请输入图片描述"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" id="Image_discript_close_change_edit"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-remove"></span> 关闭
						</button>
						<button type="button" id="imgDescSave_change_edit" class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-saved"></span> 保存
						</button>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>

<script type="text/javascript">

	var tuji_edit_page = {
		//表单校验
		tuji_editformValidate : function() {
			var zTreeO = $.fn.zTree.getZTreeObj("videotreeDemo_tuji_edit");
			var nodeIds = zTreeO.getCheckedNodes(true);
			if (nodeIds == null || nodeIds.length == 0) {
				alert("至少选择一个所属分类!");
				return false;
			}
			if ($.trim($("#tuji_edit_title").val()) == null
					|| $.trim($("#tuji_edit_title").val()).length == 0) {
				alert("请填写标题!");
				return false;
			}
			if ($.trim($("#tuji_edit_summary").val()) == null
					|| $.trim($("#tuji_edit_summary").val()).length == 0) {
				alert("请填写摘要!");
				return false;
			}
			if ($.trim($("#tuji_edit_keywordIds").val()) == null
					|| $.trim($("#tuji_edit_keywordIds").val()).length == 0) {
				alert("请填关键词!");
				return false;
			}
			if ($.trim($("#tuji_edit_shortTitle").val()) == null
					|| $.trim($("#tuji_edit_shortTitle").val()).length == 0) {
				alert("请填短标题!");
				return false;
			}
			if ($.trim($("#videojd_tuji_edit").val()).length == 0
					|| $.trim($("#videowd_tuji_edit").val()).length == 0) {
				alert("请选择位置!");
				return false;
			}
			if ($.trim($("#tuji_edit_author").val()).length == 0
					|| $.trim($("#tuji_edit_author").val()).length == 0) {
				alert("请填写作者!");
				return false;
			}
			var sortNum=$("#tuji_edit_manuallySortNum").val();
			if(sortNum){
				if(sortNum<1||sortNum>20){
					alert("列表显示位置必须是1-20");
					return false;
				}
			}
			var priority=$("#tuji_edit_priority").val();
			if(priority){
				if(priority<1||priority>10){
					alert("推荐权重必须是1-10");
					return false;
				}
			}else{
				$("#tuji_add_priority").val("1");
			}
			if ($("#srcCategoryId_tuji_edit").val() == -1) {
				alert("请选择原始分类!");
				return false;
			}
			return true;
		},
		loadMenu : function(resourceType, treeObjId, setting) {
			//$.fn.zTree.init($("#" + treeObjId), setting, null);
			$.ajax({
				type : "POST",
				url : resourceType,
				dataType : "json",
				success : function(data) {
					// 如果返回数据不为空，加载"业务模块"目录
					if (data != null) {
						// 将返回的数据赋给zTree
						zTree = $.fn.zTree.init($("#" + treeObjId), setting,
								data);
						if (zTree) {
							// 默认展开所有节点
							zTree.expandAll(true);
							//如果是编辑，选中节点
							var treeNodeId = '<#if csmcontent??>${csmcontent.categoryIds!}</#if>';
							var srcCategoryId='<#if contentData??>${contentData.srcCategoryId!}</#if>';
							var div="<option value='-1'>--请选择--</option>";
							if (treeNodeId != '') {
								$("#videocategoryIds_tuji_edit").attr('value', treeNodeId);
								$("#srcCategoryId_tuji_edit").children().remove();
								var treeNodeIds=[];
								treeNodeIds=treeNodeId.split(",");
								console.log(treeNodeId);
								for(var j=0;j<treeNodeIds.length;j++){
									var nodes = zTree.getNodesByParam("id",treeNodeIds[j], null);
									if (nodes.length > 0) {
										for (var i = 0; i < nodes.length; i++) {
											nodes[i].checked = true;
											zTree.updateNode(nodes[i]); //重要
										}
										if(srcCategoryId!=''&&nodes[0].id==srcCategoryId){
											div=div+"<option  selected='selected' value='"+nodes[0].id+"'>"+nodes[0].name+"</option>"
										}else{
											div=div+"<option value='"+nodes[0].id+"'>"+nodes[0].name+"</option>"
										}
									}
								}
								$("#srcCategoryId_tuji_edit").append(div);
								
								
							}
						}
					}
				}
			});
		}
	};

	function filter(node) { //过滤器直选中2级节点累加 
		return (node.checked == true);
	}

	function ztreeCheck_tuji_edit(e, treeId, treeNode) { //这是将所有选中节点的名字 用,分割做拼接 用于持久化到数据库 
		//console.info(treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
		var zTreeObj = $.fn.zTree.getZTreeObj(treeId);
		var zTree = zTreeObj.getNodesByFilter(filter);
		var choose = "";
		var idListStr = "";
		var div="";
		var srcCategoryId='<#if contentData??>${contentData.srcCategoryId!}</#if>';
		if(zTree.length>0){
			div=div+"<option value='-1'>--请选择--</option>";
		}else{
			div=div+"<option value='-1'>--请先选择分类--</option>";
		}
		for (var i = 0; i < zTree.length; i++) {
			if (zTree[i].name != null) {
				choose += (i == (zTree.length - 1)) ? zTree[i].name
						: zTree[i].name + ",";
			}
			if (zTree[i].id != null) {
				idListStr += (i == (zTree.length - 1)) ? zTree[i].id
						: zTree[i].id + ",";
			}
			if(srcCategoryId!=''&&zTree[i].id==srcCategoryId){
				div=div+"<option selected='selected' value='"+zTree[i].id+"'>"+zTree[i].name+"</option>"
			}else{
				div=div+"<option value='"+zTree[i].id+"'>"+zTree[i].name+"</option>"
			}
			
		}
		$("#srcCategoryId_tuji_edit").children().remove();
		$("#srcCategoryId_tuji_edit").append(div); 
		//设值
		$("#videocategoryIds_tuji_edit").attr('value', idListStr);
	}

	var setting = {
		check : {
			enable : true,
			chkStyle : "checkbox",
			chkboxType : {
				"Y" : "",
				"N" : ""
			}
		},
		callback : {
			onCheck : ztreeCheck_tuji_edit
		},

		data : {
			simpleData : {
				enable : true,
				idKey : "id",
				pIdKey : "pId",
				rootPId : 0
			}
		}
	};
	/*********新闻分类树end***********/

	function tuji_editfileInputInit() {
		//上传封面
		$('#modalvideo_add_filecover_tuji_edit')
				.fileinput({
					language : 'zh',//语言中文
					msgPlaceholder:"选择上传图片(注意每次只能上传一张！)",
					filePlural:"",
					showCaption : true,//文本框
					showPreview : false,//预览
					showUpload : false,//上传按钮
					uploadAsync : false, //默认异步上传,此处改为同步
					showClose : true,//预览框关闭按钮
					showBrowse : true,//上传按钮
					browseOnZoneClick : false,//点击拖拽区不上传
					initialPreviewShowDelete : true,
					allowedFileExtensions : [ 'jpg', 'png', 'gif' ],//允许文件类型
					browseClass : 'btn btn-info btn-sm', //样式
					captionClass : 'input-sm',
					removeClass : 'btn btn-info btn-sm',
					uploadClass : 'btn btn-info btn-sm',
					enctype : 'multipart/form-data',
					maxFileCount:1,
					msgFilesTooMany:1,
					uploadUrl : img_upload_url,//服务器端图片接收处理路径
					uploadExtraData : function() {
						return {
							'desc' : $("#desc_tuji_edit").val()
						};
					}
				})
				.on(
						"filebatchuploadsuccess",
						function(event, data, previewId, index) {
							//同步上传返回结果处理
							console.info(data.response);
							if (data.response) {
								var obj = data.response;
								var urls = obj.urls;
								var ids = obj.ids;
								/* var videothumbUrl_tuji = $("#videothumbUrl_tuji").val();
								if(videothumbUrl_tuji){
								 $("#videothumbUrl_tuji").val(videothumbUrl_tuji+","+urls);
								}else{
								 $("#videothumbUrl_tuji").val(urls);
								} */
								var attachmentIds_tuji = $(
										"#attachmentIds_tuji_edit").val();
								if (attachmentIds_tuji) {
									$("#attachmentIds_tuji_edit").val(
											attachmentIds_tuji + "," + ids)
								} else {
									$("#attachmentIds_tuji_edit").val(ids);
								}
								var image_desc = $("#desc_tuji_edit").val();
								if(image_desc.length>15){
									image_desc=image_desc.substring(0,15)+"...";
								}
								var div = "<div id='"+ids+"_div' class='col-sm-6 col-md-4' style='height: 250px;width: 180px;'>"
								+ "<div align='center' style='height:250px;width: 180px;'>"
								+"<div class='thumbnail' style='height:130px;width:130px;' >"
								+ "<img src='"+file_upload_prefix+urls+"' style='width:100%;height:100%;'>"
								+"</div>"
								+"<div style='height:50px;width:130px;'>"
								+ "<p id='"+ids+"_desc_print' style='width:100%;height:100%;'>描述:"+image_desc+"</p>"
								+"</div>"
								+ "<div class='caption'>"
								+ "<p style='text-align:center'><a class='btn btn-primary' id='"+ ids
								+ "' role='button' onclick='tuji_img_delete(event);'>删除</a>"+
								"<a class='btn btn-primary' id='"+ ids
								+ "_desc' role='button' onclick='edit_image_desc(event);'>修改</a></p>"
								+ " </div>" + "</div>" + "</div>";
								
								$("#tuji_img_list").append(div);
							}
						}).on("filebatchselected", function(event, files) {
								$("#desc_tuji_edit").val("");
								$("#Image_discript_edit").css("display", "block");
						});
	}

	var videolocal_tuji_edit;
	$(function() {
		//video_add_page.ueditorInit();
		//tuji_edit_page.wangEditorInit();
		tujiadd_editfileInputInit();
		tuji_editfileInputInit();
		tuji_edit_page.loadMenu(
				"${rc.contextPath}/category/allCategoryJson.do?status=1",
				"videotreeDemo_tuji_edit", setting);
		var map = new BMap.Map("videomap_tuji_edit");
		var point = new BMap.Point(116.331398, 39.897445);
		map.centerAndZoom(point, 11);
		map.addEventListener("click", function(e) {
			$("#videowd_tuji_edit").val(e.point.lng);
			$("#videojd_tuji_edit").val(e.point.lat);
			searchAddress_tuji_edit();
			//$("#videowd_tuji_edit").attr("value", e.point.lng);
			//$("#videojd_tuji_edit").attr("value", e.point.lat);
		});
		map.enableScrollWheelZoom();
		map.addControl(new BMap.NavigationControl());
		videolocal_tuji_edit = new BMap.LocalSearch(map, {
			renderOptions : {
				map : map
			}
		});
		tuji_img_add_List();
		tujiadd_img_add_List();
	});
	
	
	
function searchAddress_tuji_edit(){
		var lon=$("#videowd_tuji_edit").val();
		var lat=$("#videojd_tuji_edit").val();
		$.ajax({
			url:"content/apiAddress.do",
			data:{"longitude":lon,"latitude":lat},
			dataType:"json",
			type:"post",
			success:function(data){
				console.log(data);
				if(data!=null){
					$("#videocityName_tuji_edit").val(data);
				}
			}
			
			
			
		});
}
	function tuji_img_add_List() {
		var img_url = "<#if csmcontent??>${csmcontent.thumbUrl!}</#if>";
		var img_id = "<#if csmcontent??>${csmcontent.attachmentIds!}</#if>";
		var picdata;
		<#if picJson??>
		picdata=${picJson};
		</#if>
		if(picdata){
			
			for(var i in picdata){
				var pic=picdata[i];
				if(pic.fileDesc.length>15){
					pic.fileDesc=pic.fileDesc.substring(0,15)+"..."
				}
				
				var div = "<div id='"+pic.fileId+"_div' class='col-sm-6 col-md-4' style='height: 250px;width: 180px;'>"
				+ "<div align='center' style='height:250px;width: 180px;'>"
				+"<div class='thumbnail' style='height:130px;width:130px;' >"
				+ "<img src='"+file_upload_prefix+pic.imgUrl+"' style='width:100%;height:100%;'>"
				+"</div>"
				+"<div style='height:50px;width:130px;'>"
				+ "<p id='"+pic.fileId+"_desc_print' style='height:100%;width:100%;'>描述:"+pic.fileDesc+"</p>"
				+"</div>"
				+ "<div class='caption'>"
				+ "<p style='text-align:center'><a class='btn btn-primary' id='"+ pic.fileId
				+ "' role='button' onclick='tuji_img_delete(event);'>删除</a>"+
				"<a class='btn btn-primary' id='"+ pic.fileId
				+ "_desc' role='button' onclick='edit_image_desc(event);'>修改</a></p>"
				+ " </div>" + "</div>" + "</div>";
				
				$("#tuji_img_list").append(div);
			}
		}
		$("#attachmentIds_tuji_edit").val("<#if csmcontent??>${csmcontent.attachmentIds!}</#if>");
	}

	function tuji_editMapSearch() {
		var city = $("#videocityName_tuji_edit").val();
		if (city != "") {
			videolocal_tuji_edit.search(city);
		}
	}
	//视频添加
	$("#btnSaveTuji_edit").on('click', function() {
		var validated = tuji_edit_page.tuji_editformValidate();
		if (validated == false) {
			return false;
		}
		cotent_save_tuji_edit();
		//先上传封面,回调成功再往下执行
	});
	function cotent_save_tuji_edit() {
		//$('#modalvideo_add_filecover_tuwen_edit').fileinput('upload');
		document.getElementById("btnSaveTuji_edit").disabled = false;
		$.ajax({
			type : "POST",
			data : $("#videoform_tuji_edit").serialize(),
			dataType : "json",
			url : "${rc.contextPath}/content/updateNewWithContent.do",
			success : function(data) {
				if (data.result == 1) {
					alert(data.message);
					$modalTujiEdit.modal('hide');
				} else {
					alert(data.message);
				}
				document.getElementById("btnSaveTuji_edit").disabled = true;
			},
			error : function(e) {
				alert("异常！");
				document.getElementById("btnSaveTuji_edit").disabled = true;
			}

		});

	}
	var changeDescUrl = "${rc.contextPath}/content/changeDesc.do";
	var updateDescUrl = "${rc.contextPath}/content/updateDesc.do";
	function edit_image_desc(event){
		var ids = event.target.id;
		ids=ids.substring(0,ids.length-5);
		var url=changeDescUrl+"?fileId="+ids;
		$.ajax({
			type : "POST",
			dataType : "json",
			url : url,
			success : function(data) {
				
				if(data){
					$("#desc_tuji_add_change_edit").val(data.fileDesc);
					$("#image_id_changed_edit").val(data.fileId);
					$("#Image_discript_change_edit").css("display", "block");
				}
			},
			error : function(e) {
				alert(e.message);
			}

		});
	}
	function tuji_img_delete(event) {
		var id = event.target.id;
		$("#" + id + "_div").remove();
		var attachmentIds_tuji_edit = $("#attachmentIds_tuji_edit").val();
		var attachmentIds_tuji_edit_new;

		if (attachmentIds_tuji_edit != "" || attachmentIds_tuji_edit != null) {
			var attachmentIds_tuji_edits = attachmentIds_tuji_edit.split(",");
			for ( var i in attachmentIds_tuji_edits) {
				if (attachmentIds_tuji_edits[i] != id) {
					if (attachmentIds_tuji_edit_new) {
						attachmentIds_tuji_edit_new = attachmentIds_tuji_edit_new
								+ "," + attachmentIds_tuji_edits[i];
					} else {
						attachmentIds_tuji_edit_new = attachmentIds_tuji_edits[i];
					}
				}
			}
		}
		$("#attachmentIds_tuji_edit").val(attachmentIds_tuji_edit_new);
	}
	
	$("#Image_discript_close_change_edit").click(function() {
		$("#image_id_changed_edit").val();
		$("#desc_tuji_add_change_edit").val("");
		$("#Image_discript_change_edit").css("display", "none");
	});
	$("#imgDescSave_change_edit").click(function() {
		var description = $("#desc_tuji_add_change_edit").val();
		var fileId=$("#image_id_changed_edit").val();
		var url=updateDescUrl;
		var data={"fileId" : fileId,
				"fileDesc" : description}
		$.ajax({
			type : "POST",
			dataType : "json",
			url : url,
			data : data,
			success : function(data) {
				if(data){
					alert(data.message);
					if(data.result==1){
						var x=document.getElementById(fileId+"_desc_print");
						if(description.length>15){
							description=description.substring(0,15)+"...";
						}
						x.innerHTML="描述:"+description;
						$("#Image_discript_change_edit").css("display", "none");
					}else{
						alert(data.message);
					}
				}
			},
			error : function(e) {
				alert(e.message);
			}

		});
	});
	$("#imgDescSave_edit").click(function() {
		var description = $("#desc_tuji_add").val();
		$("#Image_discript_edit").css("display", "none");
		$('#modalvideo_add_filecover_tuji_edit').fileinput('upload');
	});
	$("#Image_discript_close_edit").click(function() {
		$("#desc_tuji_add").val(""); 
		$("#Image_discript_edit").css("display", "none");
		$('#modalvideo_add_filecover_tuji_edit').fileinput('clear');
	});
	
	
	function tujiadd_editfileInputInit() {
		//上传封面
		$('#modalvideo_add_filecover_tujiadd_edit').fileinput({
			language : 'zh',//语言中文
			msgPlaceholder:"选择封面图片...",
			showCaption : true,//文本框
			showPreview : false,//预览
			showUpload : true,//上传按钮
			uploadAsync : false, //默认异步上传,此处改为同步
			showClose : true,//预览框关闭按钮
			showBrowse : true,//上传按钮
			browseOnZoneClick : false,//点击拖拽区不上传
			initialPreviewShowDelete : true,
			allowedFileExtensions : [ 'jpg', 'png', 'gif' ],//允许文件类型
			browseClass : 'btn btn-info btn-sm', //样式
			captionClass : 'input-sm',
			removeClass : 'btn btn-info btn-sm',
			uploadClass : 'btn btn-info btn-sm',
			enctype : 'multipart/form-data',
			uploadUrl : img_upload_url,//服务器端图片接收处理路径
		}).on("filebatchuploadsuccess",
				function(event, data, previewId, index) {
					//同步上传返回结果处理
					console.info(data.response);
					if (data.response) {
						var obj = data.response;
						var urls = obj.urls;
						var ids = obj.ids;
						var oldUrl = $("#tujithumbUrl_tuji_edit").val();
						var oldId = $("#thumbIds_edit").val();
						if (oldUrl != "") {
							oldUrl = oldUrl + "," + urls;
						} else {
							oldUrl = urls;
						}
						if (oldId != "") {
							oldId = oldId + "," + ids;
						} else {
							oldId = ids;
						}
						$("#tujithumbUrl_tuji_edit").val(oldUrl);
						$("#thumbIds_edit").val(oldId);
						drowImageAddtuji(oldUrl, oldId);
					}
				});
	}
		function drowImageAddtuji(img_url, img_id) {
			console.log(img_url+".....");
			$("#tujiedit_img_list").children().remove();
			if (img_url != null && img_url != "") {
				var img_urls = img_url.split(",");
				var img_ids = img_id.split(",");
				for ( var i in img_urls) {
					var div = "<div id='"+img_ids[i]+"_div' class='col-sm-6 col-md-4' style='height: 180px;width: 180px;'>"
							+ "<div align='center' style='height:180px;width: 180px;'>"
							+ "<div class='thumbnail' style='height:130px;width:130px;' >"
							+ "<img src='"
							+ file_upload_prefix
							+ img_urls[i]
							+ "' style='width:100%;height:100%;'>"
							+ "</div>"
							+ "<div class='caption'>"
							+ "<p style='text-align:center'><a class='btn btn-primary' id='"
							+ img_ids[i]
							+ "' role='button' onclick='tujiadd_img_delete(event);'>删除</a></p>"
							+ " </div>" + "</div>" + "</div>";

					$("#tujiedit_img_list").append(div);
				}
			}
		}
		
		function tujiadd_img_delete(event) {
			var id = event.target.id + "";
			$("#" + id + "_div").remove();

			var logoIdsChange = $("#thumbIds_edit").val();
			var logoUrlsChange = $("#tujithumbUrl_tuji_edit").val();

			var urlArray = logoUrlsChange.split(",");
			var idArray = logoIdsChange.split(",");
			var logoIdsChange_new = "";
			var logoUrlsChange_new = "";
			for (var i = 0; i < idArray.length; i++) {
				if (idArray[i] != id) {
					logoIdsChange_new = logoIdsChange_new + idArray[i] + ",";
					logoUrlsChange_new = logoUrlsChange_new + urlArray[i] + ",";
				}
			}
			logoIdsChange_new = logoIdsChange_new.substr(0,
					logoIdsChange_new.length - 1);
			logoUrlsChange_new = logoUrlsChange_new.substr(0,
					logoUrlsChange_new.length - 1);
			$("#thumbIds_edit").val(logoIdsChange_new);
			$("#tujithumbUrl_tuji_edit").val(logoUrlsChange_new);
		}
		function tujiadd_img_add_List() {
			
			var img_url = "<#if csmcontent??><#if csmcontent.thumbUrl??>${csmcontent.thumbUrl}</#if></#if>";
			var img_id = "<#if csmcontent??><#if csmcontent.thumbIds??>${csmcontent.thumbIds}</#if></#if>";
			
			drowImageAddtuji(img_url, img_id);
			$("#tujithumbUrl_tuji_edit").val(img_url);
			$("#thumbIds_edit").val("<#if csmcontent??>${csmcontent.thumbIds}</#if>");
		}
</script>
