<script type="text/javascript">
	var saveOrUpdateVideoUrl = "${rc.contextPath}/content/saveOrUpdateVideo.do"
	var videoContentList = "${rc.contextPath}/content/v_list.do"
</script>
<!-- Modal 视频内容-添加-->
<div class="modal-dialog modal-lg" role="document" style="width:98%;  " >
	<div class="modal-content">
		<div style="height:30px;margin-top:10px;margin-right:10px">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h6 class="modal-title">
				&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-file"></span> <span>添加数据</span>
			</h6>
		</div>
		<div class="modal-body" style="width:100%">
			<form id="videoform_tuwen" name="videoform" class="form-horizontal" >
			<div class="row">
			  <div class="col-xs-8 col-sm-8 col-md-8">
			  	<div class="form-group form-group-sm"  >
							<label class="col-sm-2 control-label">标题</label>
							<div class="col-sm-7">
								<input type="text" id="tuwen_add_title" name="title"
									value="<#if  r??>${r.title!}</#if>" class="form-control"
									placeholder="标题" >
							</div>
							<label class="col-sm-1 control-label" style="margin-left:-30px;width:90px" >置顶：</label>
							<div class="col-sm-2" style="padding-top:3px;margin-left:-20px">
								<#if (r.top)??> <#if r.top==0> <input
									type="radio" value="1" name="top" id="enable" />是 <input
									type="radio" value="0" name="top" id="disable"
									checked="checked" />否 </#if> <#if r.top==1> <input
									type="radio" value="1" name="top" id="enable" checked="checked" />是
								<input type="radio" value="0" name="top" id="disable" />否 </#if> <#else>
								<input type="radio" value="1" name="top" id="enable" />是 <input
									type="radio" value="0" name="top" id="disable"
									checked="checked" />否 </#if>
							</div>
						</div>
			  </div>
			  <div class="col-xs-4 col-sm-4 col-md-4">
				<div class="form-group form-group-sm" >
							<div class="col-sm-9 input-group input-group-sm" >
							<label class="col-sm-2 control-label" style="width:80px">选择来源</label>
							 <select
									id="auditFlowId_tuji" name="originId" class="form-control" style="width:205px">
									<#if originList??> <#list originList as s>
									<option value="${s.originId}"><#if s.originName??>${s.originName}</#if></option>
									</#list> </#if>
								</select>
								
								<input type="hidden" id="contentTypeId_tuwen" name="contenttypeId" value="2"/>
								
							</div>
							
						</div>
			  </div>
			
			</div>
			<div class="row">
				  <div class="col-xs-8 col-md-8 col-sm-8">
				  <div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">摘要</label>
							<div class="col-sm-9">
								<textarea class="form-control" id="tuwen_add_summary"
									name="summary" placeholder="摘要" cols="30" rows="2"></textarea>
							</div>
						</div>
						<div class="form-group form-group-sm"  >
							<label class="col-sm-2 control-label">内容</label>
							 <div class="col-sm-9">
								<textarea id="editor_id" name="content" style="height:300px" ></textarea>
								<p style="color:red">图片比例 小图是5比4 大图是2比1  </p>
							</div>
						</div>
	<div class="form-group form-group-sm"  >
							<label class="col-sm-2 control-label" >缩略图</label>
							<div class="col-sm-9" >
								<input id="modalvideo_add_filecover_tuwen" type="file"
									name="myfile" multiple="multiple"> <input type="hidden"
									name="thumbUrl" id="thumbUrl_tuwen" value="" /> <input
									type="hidden" name="thumbIds" id="thumbIds_tuwen" value="" />
							</div>
						</div>
						<div class="form-group form-group-sm" >
						<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10" id="tuwen_img_list" style="height:200px; overflow:auto">
							</div>
						</div>
						
						</div>
				  <div class="col-xs-4 col-md-4 col-sm-4">
				  <div class="form-group form-group-sm" >
							<label class="col-sm-2 control-label" style="width:80px">来源链接</label>
							<div class="col-sm-5">
								<input type="text" id="tuwen_add_origin_url" name="originUrl"
									class="form-control" placeholder="来源链接" style="width:205px">
							</div>
							</div>
					  <div class="form-group form-group-sm" >
								<label class="col-sm-2 control-label" style="width:80px">短标题</label>
								<div class="col-sm-7">
									<input type="text" id="tuwen_add_shortTitle" name="shortTitle"
										value="<#if  r??>${r.shortTitle!}</#if>" class="form-control"
										placeholder="短标题" style="width:205px">
								</div>
								
							</div>
							  <div class="form-group form-group-sm" >
							<label class="col-sm-2 control-label" style="width:80px">作者</label>
							<div class="col-sm-3">
								<input type="text" id="tuwen_add_author" name="author"
									value="<#if  r??>${r.author!}</#if>" class="form-control"
									placeholder="作者" style="width:205px" >
							</div>
							</div>
							
							 <div class="form-group form-group-sm" >
							<label class="col-sm-2 control-label" style="width:80px">关键词</label>
							<div class="col-sm-3" >
								<input type="text" id="tuwen_add_keywordIds" name="keywordIds"
									value="<#if r??>${r.keywordIds!}</#if>" class="form-control"
									placeholder="多关键词之间  , 分隔" style="width:205px" >
							</div>
						</div>
						
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label" style="width:80px">显示位置</label>
							<div class="col-sm-5">
								<input type="number" min="1" max="20" id="tuwen_add_manuallySortNum" name="manuallySortNum"
									value="<#if  r??>${r.manuallySortNum!}</#if>" class="form-control"
									placeholder="在列表中显示的位置(1-20)，可不填" style="width:205px">
							</div>
							
						</div>
						<div class="form-group form-group-sm">
						<label class="col-sm-2 control-label" style="width:80px">推荐权重</label>
							<div class="col-sm-5">
								<input type="number" min="1" max="10" id="tuwen_add_priority" name="priority"
									value="<#if  r??>${r.priority!}</#if>" class="form-control"
									placeholder="推荐权重(1-10)" style="width:205px">
							</div>
							</div>
							<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label"style="width:80px">选择位置</label>
							<div class="col-sm-8">
								<div class="form-group form-group-sm">
									<div class="col-sm-1" style="width:300px;" >
									<span >地址：</span><input id="videocityName_tuwen" type="text" name="location"
											style="width: 100px; margin-right: 10px;height:25px" /> 
											<button id="tuwenMapSearch" data-action="" type="button" style="height:25px" >查询</button>
									</div>
								</div>
								</div>
								<div class="form-group form-group-sm" style="width:550px;">	
									<div  style="width: 200px; margin-left:110px;margin-top:2%;">
										<span >纬度：</span><input type="text" name="latitude" id="videojd_tuwen"
											value="<#if  r??>${r.latitude!}</#if>"style="width: 50px" readonly="readonly"/>
									</div>
									<div  style="width:200px;margin-top:-5%;margin-left:220px">
									<span >经度：</span>	<input type="text" name="longitude" id="videowd_tuwen"
											value="<#if  r??>${r.longitude!}</#if>" style="width: 50px" readonly="readonly" />
									</div>
								</div>
								<div style="width:600px">
								<div style="height:200px;width:300px;" id="videomap_tuwen" >
								</div>
								</div>
								<div class="col-sm-6 input-group input-group-sm">
								<select
									id="srcCategoryId_tuwen" name="srcCategoryId" class="form-control">
									<option value="-1">请先选择栏目</option>
								</select>
								<input type="button" value="请先选择栏目" id="category_show_hidden"/>
							</div>
							</div>
							  <div class="modal-footer" >
									<button type="button" class="btn btn-info btn-sm"
										data-dismiss="modal">
										<span class="glyphicon glyphicon-remove" ></span> 关闭
									</button>
									<button id="btnSaveTuwen" data-action="" type="button"
										class="btn btn-info btn-sm">
										<span class="glyphicon glyphicon-saved"></span> 保存
									</button>
                  </div>
				  </div>
				
				</div>
	              <input type="hidden" id="videocategoryIds_tuwen" name="categoryIds" />
			</form>
		</div> 
			
	</div>

</div>
		<div class="modal fade" id="modalInfoImgsetCategory" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog " role="document" style="width:18%; z-index:9999" >
	<div class="modal-content">
	    
								<ul id="videotreeDemo_tuwen" class="ztree"
									style="margin-top: 0; ">
									</ul>
						<div class="modal-footer">
			<button id="category_hidden_add" data-action="" type="button"
				class="btn btn-info btn-sm">
				<span class="glyphicon glyphicon-saved"></span> 保存
			</button>
			
		</div>
						
				</div>	
							</div>
</div>
<script type="text/javascript">
var $modalInfoImgsetCategory = $('#modalInfoImgsetCategory');
$("#category_show_hidden").click(function(){
	showModal_add($modalInfoImgsetCategory);
})
$("#category_hidden_add").click(function(){
	hideModal_add($modalInfoImgsetCategory);
})


function showModal_add(model){
	model.addClass("in");
	$(".modal-backdrop").remove();
	  $('body').addClass('modal-open');
	  $('body').css('z-index', '1050');
	  $('#modalInfoImgtext').css({'overflow-y':'scroll'});
	  model.show();
}
function hideModal_add(model) {
	model.removeClass("in");
	$(".modal-backdrop").remove();
	$('body').removeClass('modal-open');
	$('body').css('padding-right', '');
	$('#modalInfoImgtext').css({'overflow-y':'scroll'});
model.hide();
}

	var tuwen_add_page = {
		//表单校验
		tuwenformValidate : function() {
			var zTreeO = $.fn.zTree.getZTreeObj("videotreeDemo_tuwen");
			var nodeIds = zTreeO.getCheckedNodes(true);
			if (nodeIds == null || nodeIds.length == 0) {
				alert("至少选择一个所属分类!");
				return false;
			}
			if ($.trim($("#tuwen_add_title").val()) == null
					|| $.trim($("#tuwen_add_title").val()).length == 0) {
				alert("请填写标题!");
				return false;
			}
			if ($.trim($("#tuwen_add_summary").val()) == null
					|| $.trim($("#tuwen_add_summary").val()).length == 0) {
				alert("请填写摘要!");
				return false;
			}
			if ($.trim(editor.getContent()) == null
					|| $.trim(editor.getContent()).length == 0) {
				alert("请填写内容!");
				return false;
			}
			if ($.trim($("#tuwen_add_keywordIds").val()) == null
					|| $.trim($("#tuwen_add_keywordIds").val()).length == 0) {
				alert("请填关键词!");
				return false;
			}
			if ($.trim($("#tuwen_add_shortTitle").val()) == null
					|| $.trim($("#tuwen_add_shortTitle").val()).length == 0) {
				alert("请填短标题!");
				return false;
			}
			if ($.trim($("#videojd_tuwen").val()).length == 0
					|| $.trim($("#videowd_tuwen").val()).length == 0) {
				alert("请选择位置!");
				return false;
			}
			/* if ($("#auditFlowId_tuwen").val() == -1) {
				alert("请选择审核流程!");
				return false;
			} */
			/* if ($.trim($("#tuwen_add_author").val()).length == 0) {
				alert("请输入作者名!");
				return false;
			} */
		
			var sortNum=$("#tuwen_add_manuallySortNum").val();
			if(sortNum){
				if(sortNum<1||sortNum>20){
					alert("列表显示位置必须是1-20");
					return false;
				}
			}
			var priority=$("#tuwen_add_priority").val();
			if(priority){
				if(priority<1||priority>10){
					alert("推荐权重必须是1-10");
					return false;
				}
			}else{
				$("#tuwen_add_priority").val("1");
			}
			if ($("#srcCategoryId_tuwen").val() == -1) {
				alert("请选择原始分类!");
				return false;
			}

			return true;
		},
		loadMenu : function(resourceType, treeObjId, setting) {
			//$.fn.zTree.init($("#" + treeObjId), setting, null);
			$
					.ajax({
						type : "POST",
						url : resourceType,
						dataType : "json",
						success : function(data) {
							// 如果返回数据不为空，加载"业务模块"目录
							if (data != null) {
								// 将返回的数据赋给zTree
								zTree = $.fn.zTree.init($("#" + treeObjId),
										setting, data);
								if (zTree) {
									// 默认展开所有节点
									zTree.expandAll(true);
									//如果是编辑，选中节点
									var treeNodeId = '<#if  r??>${r.categoryId!}</#if>';
									if (treeNodeId != '') {
										var nodes = zTree.getNodesByParam("id",
												treeNodeId, null);
										if (nodes.length > 0) {
											for (var i = 0; i < nodes.length; i++) {
												nodes[i].checked = true;
												zTree.updateNode(nodes[i]); //重要
											}
										}
									}
								}
							}
						}
					});
		}
	};

	function filter(node) { //过滤器直选中2级节点累加 
		return (node.checked == true);
	}

	function ztreeCheck_tuwen(e, treeId, treeNode) { //这是将所有选中节点的名字 用,分割做拼接 用于持久化到数据库 
		//console.info(treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
		var zTreeObj = $.fn.zTree.getZTreeObj(treeId);
		var zTree = zTreeObj.getNodesByFilter(filter);
		var choose = "";
		var idListStr = "";
		var div="";
		if(zTree.length>0){
			div=div+"<option value='-1'>--请选择--</option>";
		}else{
			div=div+"<option value='-1'>--请先选择分类--</option>";
		}
			
		
		for (var i = 0; i < zTree.length; i++) {
			if (zTree[i].name != null) {
				choose += (i == (zTree.length - 1)) ? zTree[i].name
						: zTree[i].name + ",";
			}
			if (zTree[i].id != null) {
				idListStr += (i == (zTree.length - 1)) ? zTree[i].id
						: zTree[i].id + ",";
			}
			div=div+"<option value='"+zTree[i].id+"'>"+zTree[i].name+"</option>"
		}
		$("#srcCategoryId_tuwen").children().remove();
		$("#srcCategoryId_tuwen").append(div);
		//设值
		$("#videocategoryIds_tuwen").attr('value', idListStr);
	}

	var setting = {
		check : {
			enable : true,
			chkStyle : "checkbox",
			chkboxType : {
				"Y" : "",
				"N" : ""
			}
		},
		callback : {
			onCheck : ztreeCheck_tuwen
		},

		data : {
			simpleData : {
				enable : true,
				idKey : "id",
				pIdKey : "pId",
				rootPId : 0
			}
		}
	};
	/*********新闻分类树end***********/

	function tuwenfileInputInit() {
		//上传封面
		$('#modalvideo_add_filecover_tuwen').fileinput({
			language : 'zh',//语言中文
			msgPlaceholder:"小图是5比4 大图是2比1 ",
			showCaption : true,//文本框
			showPreview : false,//预览
			showUpload : true,//上传按钮
			uploadAsync : false, //默认异步上传,此处改为同步
			showClose : true,//预览框关闭按钮
			showBrowse : true,//上传按钮
			browseOnZoneClick : false,//点击拖拽区不上传
			initialPreviewShowDelete : true,
			allowedFileExtensions : [ 'jpg', 'png', 'gif' ],//允许文件类型
			browseClass : 'btn btn-info btn-sm', //样式
			captionClass : 'input-sm',
			removeClass : 'btn btn-info btn-sm',
			uploadClass : 'btn btn-info btn-sm',
			enctype : 'multipart/form-data',
			uploadUrl : img_upload_url,//服务器端图片接收处理路径
		}).on("filebatchuploadsuccess",
				function(event, data, previewId, index) {
					//同步上传返回结果处理
					if(data.response){
						var obj = data.response;
						var urls = obj.urls;
						var ids = obj.ids;
						var oldUrl = $("#thumbUrl_tuwen").val();
						var oldId = $("#thumbIds_tuwen").val();
						if (oldUrl != "") {
							oldUrl = oldUrl + "," + urls;
						} else {
							oldUrl = urls;
						}
						if (oldId != "") {
							oldId = oldId + "," + ids;
						} else {
							oldId = ids;
						}
						$("#thumbUrl_tuwen").val(oldUrl);
						$("#thumbIds_tuwen").val(oldId);
						drowImageTuwenzzz(oldUrl, oldId);
					}
				});
	}

	function drowImageTuwenzzz(img_url, img_id) {
		$("#tuwen_img_list").children().remove();
		if (img_url != null && img_url != "") {
			var img_urls = img_url.split(",");
			var img_ids = img_id.split(",");
			for ( var i in img_urls) {
				
				var div = "<div id='"+img_ids[i]+"_div' class='col-sm-6 col-md-4' style='height: 180px;width: 180px;'>"
				+ "<div align='center' style='height:180px;width: 180px;'>"
				+"<div class='thumbnail' style='height:130px;width:130px;' >"
				+ "<img src='"+file_upload_prefix+img_urls[i]+"' style='width:100%;height:100%;'>"
				+"</div>"
				+ "<div class='caption'>"
				+ "<p style='text-align:center'><a class='btn btn-primary' id='"+img_ids[i]
				+ "' role='button' onclick='tuwen_img_delete(event);'>删除</a></p>"
				+ " </div>" + "</div>" + "</div>";
				
				
			/* 	var div = "<div class='col-sm-6 col-md-4' id='"+img_ids[i]+"_div' style='height: 200px;width: 130px;'>"
						+ "<div class='thumbnail' style='height: 130px;width: 130px;'>"
						+ "<img src='"+file_upload_prefix+img_urls[i]+" 'id='"+img_ids[i]+"_img'>"
						+ "<div class='caption'>"
						+ "<p style='text-align:center'><a class='btn btn-primary' id='"
						+ img_ids[i]
						+ "' onclick='tuwen_img_delete(event);' role='button'>删除</a></p>"
						+ "</div>" + "</div>" + "</div>"; */
				$("#tuwen_img_list").append(div);
			}
		}
	}
	function tuwen_img_delete(event) {
		var id = event.target.id + "";
		$("#" + id + "_div").remove();

		var logoIdsChange = $("#thumbIds_tuwen").val();
		var logoUrlsChange = $("#thumbUrl_tuwen").val();

		var urlArray = logoUrlsChange.split(",");
		var idArray = logoIdsChange.split(",");
		var logoIdsChange_new = "";
		var logoUrlsChange_new = "";
		for (var i = 0; i < idArray.length; i++) {
			if (idArray[i] != id) {
				logoIdsChange_new = logoIdsChange_new + idArray[i] + ",";
				logoUrlsChange_new = logoUrlsChange_new + urlArray[i] + ",";
			}
		}
		logoIdsChange_new = logoIdsChange_new.substr(0,
				logoIdsChange_new.length - 1);
		logoUrlsChange_new = logoUrlsChange_new.substr(0,
				logoUrlsChange_new.length - 1);
		$("#thumbIds_tuwen").val(logoIdsChange_new);
		$("#thumbUrl_tuwen").val(logoUrlsChange_new);
	}
	var videolocal_tuwen;
	$(function() {
		//video_add_page.ueditorInit();
		//tuwen_add_page.wangEditorInit();
		tuwenfileInputInit();
		tuwen_add_page.loadMenu(
				"${rc.contextPath}/category/allCategoryJson.do?status=1",
				"videotreeDemo_tuwen", setting);
		var map = new BMap.Map("videomap_tuwen");
		var point = new BMap.Point(116.331398, 39.897445);
		map.centerAndZoom(point, 11);
		map.addEventListener("click", function(e) {
			//$("#videowd_tuwen").attr("value", e.point.lng);
			//$("#videojd_tuwen").attr("value", e.point.lat);
			$("#videowd_tuwen").val(e.point.lng);
			$("#videojd_tuwen").val(e.point.lat);
			searchAddress();
		});
		map.enableScrollWheelZoom();
		map.addControl(new BMap.NavigationControl());
		videolocal_tuwen = new BMap.LocalSearch(map, {
			renderOptions : {
				map : map
			}
		});
	});

	function searchAddress(){
		
		var lon=$("#videowd_tuwen").val();
		var lat=$("#videojd_tuwen").val();
		$.ajax({
			url:"content/apiAddress.do",
			data:{"longitude":lon,"latitude":lat},
			dataType:"json",
			type:"post",
			success:function(data){
				console.log(data);
				if(data!=null){
					$("#videocityName_tuwen").val(data);
				}
			}
		});	
	}
	
	
	$("#tuwenMapSearch").on('click', function() {
		var city = $("#videocityName_tuwen").val();
		if (city != "") {
			videolocal_tuwen.search(city);
		}
	});
	//视频添加
	$("#btnSaveTuwen").on('click', function() {
		
		var validated = tuwen_add_page.tuwenformValidate();
		if (validated == false) {
			return false;
		}
		//先上传封面,回调成功再往下执行
		//$('#modalvideo_add_filecover_tuwen').fileinput('upload');
		cotent_save_tuwen();
	});
	function cotent_save_tuwen() {
		var content = editor.getContent();
		content = encodeURIComponent(content);
		document.getElementById("btnSaveTuwen").disabled = false;
		$.ajax({
			type : "POST",
			data : $("#videoform_tuwen").serialize(),
			dataType : "json",
			url : saveUrl,
			success : function(data) {
				if (data.result == 1) {
					alert(data.message);
					$modalInfoImgtext.modal('hide');
				} else {
					alert(data.message);
				}
				document.getElementById("btnSaveTuwen").disabled = true;

			},
			error : function(e) {
				alert("异常！");
				document.getElementById("btnSaveTuwen").disabled = true;
			}

		});

	}
	
	

	$('#modalInfoImgtext').off('shown.bs.modal').on('shown.bs.modal', function (e) {
	    $(document).off('focusin.modal');//解决编辑器弹出层文本框不能输入的问题
	});
	
	UE.delEditor("editor_id");
	 var editor = UE.getEditor('editor_id');
	 UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
	    UE.Editor.prototype.getActionUrl = function(action) {
	        if (action == 'uploadimage') {
	        	var url = API_DOMAIN + 'file/ueditor/upload';
	            return url;
	        } else {
	            return this._bkGetActionUrl.call(this, action);
	        }
	    }
	 

</script>

