<script type="text/javascript">
	var saveOrUpdateVideoUrl = "${rc.contextPath}/content/saveOrUpdateVideo.do"
	var videoContentList = "${rc.contextPath}/content/v_list.do"
</script>
<!-- Modal 视频内容-添加-->
<div class="modal-dialog modal-lg" role="document" style="width: 80%">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h5 class="modal-title">
				<span class="glyphicon glyphicon-file"></span> <span>添加数据</span>
			</h5>
		</div>
		<div class="modal-body">
			<form id="videoform_video_edit" name="videoform"
				class="form-horizontal">
				<div class="row">
					<div class="col-md-8" style="height: 700px;">
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">标题</label>
							<div class="col-sm-10">
								<input type="text" name="title" id="video_edit_title"
									value="<#if r??>${r.title!}</#if>" class="form-control"
									placeholder="标题">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">摘要</label>
							<div class="col-sm-10">
								<textarea class="form-control" name="summary"
									id="video_edit_summary" placeholder="摘要" cols="30" rows="5"><#if csmcontent??>${csmcontent.summary!}</#if></textarea>
							</div>
						</div>
						<textarea id="videoContentTextarea_video_edit"
							style="display: none" name="content">
					 </textarea>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">内容</label>
							<div class="col-sm-10">
								<div id="videoContentEditor_video_edit">
									<#if contentData??>
						  	${contentData.content}
						  </#if>
							</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10" id="video_img_list"
								style="height: 200px; overflow: auto"></div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group form-group-sm" style="margin-left: 15px;">
							<div class="col-sm-5 input-group input-group-sm">
								<span class="input-group-addon">新闻类型</span> <select
									id="contentTypeId_video_edit" name="contenttypeId"
									class="form-control">
									<option value="6">视频</option>
								</select>
							</div>
						</div>
						<!-- <div class="form-group form-group-sm" style="margin-left: 15px;">
							<div class="col-sm-5 input-group input-group-sm">
								<span class="input-group-addon">所属审核流程</span> <input type="text"
									value="<#if audit??>${audit.flowName!}</#if>"
									disabled="disabled" />
							</div>
						</div> -->
						<!-- <div class="form-group form-group-sm" style="margin-left: 15px;">
							<div class="col-sm-5 input-group input-group-sm">
								<span class="input-group-addon">作者</span> <input type="text"
									value="<#if csmcontent??>${csmcontent.author!}</#if>"
									disabled="disabled" />
							</div>
						</div> -->
						<div class="form-group form-group-sm" style="margin-left: 15px;">
							<div class="col-sm-5 input-group input-group-sm">
								<span class="input-group-addon">来源</span>
								<select
										id="auditFlowId_tuji" name="originId" class="form-control"
										value="${(contentData.origin.originId)!}">
									<#if originList??> <#list originList as s>
										<option value="${s.originId}" <#if '${(contentData.origin.originId)!}' == '${(s.originId)!2}' > selected="selected" </#if> ><#if s.originName??>${s.originName}</#if></option>
									</#list> </#if>
								</select>
							</div>
						</div>

						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">来源链接</label>
							<div class="col-sm-10">
								<input type="text" id="video_edit_origin_url" name="originUrl"
									value="<#if contentData??>${contentData.originUrl!}</#if>"
									class="form-control" placeholder="来源链接">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">是否置顶</label>
							<div class="col-sm-10">
								<#if (r.top)??>
									<#if r.top==0>
										<input type="radio" value="1" name="top" id="enable"/>是
										<input type="radio" value="0" name="top" id="disable" checked="checked"/>否
									</#if>
									<#if r.top==1>
										<input type="radio" value="1" name="top" id="enable" checked="checked"/>是
										<input type="radio" value="0" name="top" id="disable"/>否
									</#if>
									<#else>
										<input type="radio" value="1" name="top" id="enable"/>是
										<input type="radio" value="0" name="top" id="disable" checked="checked"/>否
								</#if>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">作者</label>
							<div class="col-sm-10">
								<input type="text" id="video_edit_author" name="author"
									value="<#if r??>${r.author!}</#if>" class="form-control"
									placeholder="作者">
							</div>
						</div>
						
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">显示位置</label>
							<div class="col-sm-10">
								<input type="number" min="1" max="20"
									id="video_edit_manuallySortNum" name="manuallySortNum"
									value="<#if  r??>${r.manuallySortNum!}</#if>"
									class="form-control" placeholder="在列表中显示的位置(1-20)，可不填">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">推荐权重</label>
							<div class="col-sm-10">
								<input type="number" min="1" max="10" id="video_edit_priority"
									name="priority" value="<#if  r??>${r.priority!}</#if>"
									class="form-control" placeholder="推荐权重(1-10)">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">关键词</label>
							<div class="col-sm-10">
								<input type="text" name="keywordIds" id="video_edit_keywordIds"
									value="<#if r??>${r.keywordIds!}</#if>" class="form-control"
									placeholder="关键词">
							</div>
						</div>

						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">短标题</label>
							<div class="col-sm-10">
								<input type="text" name="shortTitle" id="video_edit_shortTitle"
									value="<#if r??>${r.shortTitle!}</#if>" class="form-control"
									placeholder="短标题">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">选择位置</label>
							<div class="col-sm-10">
								<div class="form-group form-group-sm">
									<div class="col-sm-3">
										地址: <input id="videocityName_video_edit" type="text" name="location"
												   value="<#if r??>${r.location!} </#if>"
											style="width: 100px; margin-right: 10px;" /> <input
											type="button" value="查询" onclick="video_editMapSearch()" />
									</div>
									<div class="col-sm-3">
										纬度:<input type="text" name="latitude" id="videojd_video_edit"
											value="<#if r??>${r.latitude!}</#if>" readonly="readonly" />
									</div>
									<div class="col-sm-3">
										经度:<input type="text" name="longitude" id="videowd_video_edit"
											value="<#if r??>${r.longitude!}</#if>" readonly="readonly"/>
									</div>
								</div>
								<div style="height: 200px;" id="videomap_video_edit"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">封面 </label>
							<div class="col-sm-10">
								<input id="modalvideo_add_filecover_video_edit" type="file"
									name="myfile" multiple="multiple"> <input type="hidden"
									name="thumbUrl" id="videothumbUrl_video_edit"
									value="<#if r??>${r.keywordIds!}</#if>" /> <input
									type="hidden" name="attachmentIds"
									id="attachmentIds_video_edit" value="" /> <input type="hidden"
									id="thumbIds_editssss" name="thumbIds"> <input
									type="hidden" name="contentId" value="<#if csmcontent??>${csmcontent.contentId!''}</#if>" />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">上传视频</label>
							<div class="col-sm-10">
								<input id="modalvideo_add_filevideo_video_edit"
									name="videofiles" type="file">
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10">
								<section id="player">
									<video id="media_edit" width="500px" height="300px" controls>
										<source id="v1_edit" src="">
									</video>
								</section>
							</div>
						</div>
						<div class="form-group form-group-sm">

							<label class="col-sm-2 control-label">时长(分钟:秒)：</label>
							<div class="col-sm-6">
								<input id="videoLength_edit" name="videoLength" type="text"
									value="<#if csmcontent??>${csmcontent.videoLength!}</#if>">
								<button id="getTimeByVideoEdit" data-action="" type="button"
									class="btn btn-info btn-sm">获取时长</button>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">原始分类</label>
							<div class="col-sm-8 input-group input-group-sm">
								<select
									id="srcCategoryId_video_edit" name="srcCategoryId" class="form-control">
									<option value="-1">--请先选择分类--</option>
								</select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-2 control-label">所属分类</label> <input
								type="hidden" id="videocategoryIds_video_edit"
								name="categoryIds" />
							<div class="col-sm-10">
								<ul id="videotreeDemo_video_edit" class="ztree"
									style="margin-top: 0; width: 260px;"></ul>
							</div>
						</div>


					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-info btn-sm"
				data-dismiss="modal">
				<span class="glyphicon glyphicon-remove"></span> 关闭
			</button>
			<button id="btnSaveVideo_edit" data-action="" type="button"
				class="btn btn-info btn-sm">
				<span class="glyphicon glyphicon-saved"></span> 保存
			</button>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#getTimeByVideoEdit").on('click', function() {
		var duration = document.getElementById("media_edit").duration;
		if (!duration) {
			alert("请先上传视频！");
			return;
		}
		var time = parseInt(duration);
		var str = parseInt(time / 60);
		var s = time - str * 60;
		if(s<10){
			s="0"+s;
		}
		str = str + ":" + s;
		$("#videoLength_edit").val(str);
	});
	var video_edit_page = {
		// ueditorInit:function(){
		//命名形式：ue_模态框_内容类型_操作类型(如：ue_modal_video_edit代表视频编辑模态框下的ueditor编辑器)
		/*var ue_modal_imgtext_add = UE.getEditor('ue_modal_imgtext_add');
		var ue_modal_imgtext_edit = UE.getEditor('ue_modal_imgtext_edit');
		var ue_modal_video_add = UE.getEditor('ue_modal_video_add');
		var ue_modal_video_edit = UE.getEditor('ue_modal_video_edit'); */
		//} 
		//wangEditor 控件实例演示
		wangEditorInit : function() {
			var editor = new wangEditor('#videoContentEditor_video_edit');
			editor.customConfig.uploadFileName = 'myfile'
			editor.customConfig.uploadImgServer = img_upload_url;//图片服务器上传路径
			editor.customConfig.onchange = function(html) {
				// 监控变化，同步更新到 textarea
				$('#videoContentTextarea_video_edit').val(html)
			}
			editor.customConfig.uploadImgHooks = {
				success : function(xhr, editor, result) {
					// 图片上传并返回结果，图片插入成功之后触发
				},
				// （但是，服务器端返回的必须是一个 JSON 格式字符串！！！否则会报错）
				customInsert : function(insertImg, result, editor) {
					if (result) {
						var url = result.urls;
						url = file_show_prefix + url;
						insertImg(url)
					}
				}
			}
			editor.create();

		},
		//表单校验
		video_editformValidate : function() {
			var zTreeO = $.fn.zTree.getZTreeObj("videotreeDemo_video_edit");
			var nodeIds = zTreeO.getCheckedNodes(true);
			if (nodeIds == null || nodeIds.length == 0) {
				alert("至少选择一个所属分类!");
				return false;
			}
			if ($.trim($("#video_edit_title").val()) == null
					|| $.trim($("#video_edit_title").val()).length == 0) {
				alert("请填写标题!");
				return false;
			}
			if ($.trim($("#video_edit_summary").val()) == null
					|| $.trim($("#video_edit_summary").val()).length == 0) {
				alert("请填写摘要!");
				return false;
			}
			if ($.trim($("#video_edit_keywordIds").val()) == null
					|| $.trim($("#video_edit_keywordIds").val()).length == 0) {
				alert("请填关键词!");
				return false;
			}
			if ($.trim($("#video_edit_shortTitle").val()) == null
					|| $.trim($("#video_edit_shortTitle").val()).length == 0) {
				alert("请填短标题!");
				return false;
			}
			if ($.trim($("#videojd_video_edit").val()).length == 0
					|| $.trim($("#videowd_video_edit").val()).length == 0) {
				alert("请选择位置!");
				return false;
			}
			if ($.trim($("#videoLength_edit").val()).length == 0) {
				alert("请输入视频时长!");
				return false;
			}
			var sortNum = $("#video_manuallySortNum").val();
			if (sortNum) {
				if (sortNum<1||sortNum>20) {
					alert("列表显示位置必须是1-20");
					return false;
				}
			}
			var priority=$("#video_edit_priority").val();
			if(priority){
				if(priority<1||priority>10){
					alert("推荐权重必须是1-10");
					return false;
				}
			}else{
				$("#video_add_priority").val("1");
			}
			if ($("#srcCategoryId_video_edit").val() == -1) {
				alert("请选择原始分类!");
				return false;
			}
			return true;
		},
		loadMenu : function(resourceType, treeObjId, setting) {
			//$.fn.zTree.init($("#" + treeObjId), setting, null);
			$.ajax({
				type : "POST",
				url : resourceType,
				dataType : "json",
				success : function(data) {
					// 如果返回数据不为空，加载"业务模块"目录
					if (data != null) {
						// 将返回的数据赋给zTree
						zTree = $.fn.zTree.init($("#" + treeObjId), setting,
								data);
						if (zTree) {
							// 默认展开所有节点
							zTree.expandAll(true);
							//如果是编辑，选中节点
							var treeNodeId = '<#if csmcontent??>${csmcontent.categoryIds!}</#if>';
							var srcCategoryId='<#if contentData??>${contentData.srcCategoryId!}</#if>';
							var div="<option value='-1'>--请选择--</option>";
							if (treeNodeId != '') {
								$("#videocategoryIds_video_edit").attr('value', treeNodeId);
								$("#srcCategoryId_video_edit").children().remove();
								var treeNodeIds=[];
								treeNodeIds=treeNodeId.split(",");
								
								for(var j=0;j<treeNodeIds.length;j++){
									var nodes = zTree.getNodesByParam("id",treeNodeIds[j], null);
									if (nodes.length > 0) {
										for (var i = 0; i < nodes.length; i++) {
											nodes[i].checked = true;
											zTree.updateNode(nodes[i]); //重要
										}
										if(srcCategoryId!=''&&nodes[0].id==srcCategoryId){
											div=div+"<option  selected='selected' value='"+nodes[0].id+"'>"+nodes[0].name+"</option>"
										}else{
											div=div+"<option value='"+nodes[0].id+"'>"+nodes[0].name+"</option>"
										}
									}
								}
								$("#srcCategoryId_video_edit").append(div);
								
								
							}
						}
					}
				}
			});
		}
	};

	function filter(node) { //过滤器直选中2级节点累加 
		return (node.checked == true);
	}

	function ztreeCheck_video_edit(e, treeId, treeNode) { //这是将所有选中节点的名字 用,分割做拼接 用于持久化到数据库 
		//console.info(treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
		var zTreeObj = $.fn.zTree.getZTreeObj(treeId);
		var zTree = zTreeObj.getNodesByFilter(filter);
		var choose = "";
		var idListStr = "";
		var div="";
		var srcCategoryId='<#if contentData??>${contentData.srcCategoryId!}</#if>';
		if(zTree.length>0){
			div=div+"<option value='-1'>--请选择--</option>";
		}else{
			div=div+"<option value='-1'>--请先选择分类--</option>";
		}
		for (var i = 0; i < zTree.length; i++) {
			if (zTree[i].name != null) {
				choose += (i == (zTree.length - 1)) ? zTree[i].name
						: zTree[i].name + ",";
			}
			if (zTree[i].id != null) {
				idListStr += (i == (zTree.length - 1)) ? zTree[i].id
						: zTree[i].id + ",";
			}
			if(srcCategoryId!=''&&zTree[i].id==srcCategoryId){
				div=div+"<option selected='selected' value='"+zTree[i].id+"'>"+zTree[i].name+"</option>"
			}else{
				div=div+"<option value='"+zTree[i].id+"'>"+zTree[i].name+"</option>"
			}

		}
		$("#srcCategoryId_video_edit").children().remove();
		$("#srcCategoryId_video_edit").append(div); 
		//设值
		$("#videocategoryIds_video_edit").attr('value', idListStr);
	}

	var setting = {
		check : {
			enable : true,
			chkStyle : "checkbox",
			chkboxType : {
				"Y" : "",
				"N" : ""
			}
		},
		callback : {
			onCheck : ztreeCheck_video_edit
		},

		data : {
			simpleData : {
				enable : true,
				idKey : "id",
				pIdKey : "pId",
				rootPId : 0
			}
		}
	};
	/*********新闻分类树end***********/

	function video_editfileInputInit() {
		//上传封面
		$('#modalvideo_add_filecover_video_edit').fileinput({
			language : 'zh',//语言中文
			msgPlaceholder:"选择封面图片...",
			showCaption : true,//文本框
			showPreview : false,//预览
			showUpload : true,//上传按钮
			uploadAsync : false, //默认异步上传,此处改为同步
			showClose : true,//预览框关闭按钮
			showBrowse : true,//上传按钮
			browseOnZoneClick : false,//点击拖拽区不上传
			initialPreviewShowDelete : true,
			allowedFileExtensions : [ 'jpg', 'png', 'gif' ],//允许文件类型
			browseClass : 'btn btn-info btn-sm', //样式
			captionClass : 'input-sm',
			removeClass : 'btn btn-info btn-sm',
			uploadClass : 'btn btn-info btn-sm',
			enctype : 'multipart/form-data',
			uploadUrl : img_upload_url,//服务器端图片接收处理路径
		}).on("filebatchuploadsuccess",
				function(event, data, previewId, index) {
					//同步上传返回结果处理
				
					if (data.response) {
						var obj = data.response;
						var urls = obj.urls;
						var ids = obj.ids;
						var oldUrl = $("#videothumbUrl_video_edit").val();
						var oldId = $("#thumbIds_editssss").val();
						if (oldUrl != "") {
							oldUrl = oldUrl + "," + urls;
						} else {
							oldUrl = urls;
						}
						
						if (oldId != "") {
							oldId = oldId + "," + ids;
						} else {
							oldId = ids;
						}
						
						$("#videothumbUrl_video_edit").val(oldUrl);
						$("#thumbIds_editssss").val(oldId);
						drowImage(oldUrl, oldId);
					}
				});

		//上传视频
		$('#modalvideo_add_filevideo_video_edit')
				.fileinput({
					language : 'zh',//语言中文
					msgPlaceholder:"选择视频文件...",
					showCaption : true,//文本框
					showPreview : false,//预览
					showUpload : true,//上传按钮
					uploadAsync : false, //默认异步上传,此处改为同步
					showClose : true,//预览框关闭按钮
					showBrowse : true,//上传按钮
					browseOnZoneClick : false,//点击拖拽区不上传
					initialPreviewShowDelete : true,
					allowedFileExtensions : [ 'ogg', 'mp4', 'webm' ],//允许文件类型
					browseClass : 'btn btn-info btn-sm', //样式
					captionClass : 'input-sm',
					removeClass : 'btn btn-info btn-sm',
					uploadClass : 'btn btn-info btn-sm',
					enctype : 'multipart/form-data',
					maxFileCount : 1,
					uploadUrl : video_upload_url,//视频上传路径
				})
				.on(
						"filebatchuploadsuccess",
						function(event, data, previewId, index) {
							//同步上传返回结果处理
							if (data.response) {
								var obj = data.response;
								var urls = obj.urls;
								var ids = obj.ids;
								$("#attachmentIds_video_edit").attr('value',
										ids);
								document.getElementById("v1_edit").src = file_upload_prefix
										+ urls;
								document.getElementById("media_edit").load();
							}
						});
	}

	var videolocal_video_edit;
	$(function() {
		//video_add_page.ueditorInit();
		video_edit_page.wangEditorInit();
		video_editfileInputInit();
		video_edit_page.loadMenu(
				"${rc.contextPath}/category/allCategoryJson.do?status=1",
				"videotreeDemo_video_edit", setting);
		var map = new BMap.Map("videomap_video_edit");
		var point = new BMap.Point(116.331398, 39.897445);
		map.centerAndZoom(point, 11);
		map.addEventListener("click", function(e) {
			/* $("#videowd_video_edit").attr("value", e.point.lng);
			$("#videojd_video_edit").attr("value", e.point.lat); */
			console.log(e.point.lat+"////"+ e.point.lng);
			$("#videowd_video_edit").val( e.point.lng);
			$("#videojd_video_edit").val( e.point.lat);
			
			searchAddress_video_edit();
		});
		map.enableScrollWheelZoom();
		map.addControl(new BMap.NavigationControl());
		videolocal_video_edit = new BMap.LocalSearch(map, {
			renderOptions : {
				map : map
			}
		});
		video_img_add_List();
	});

function searchAddress_video_edit(){
		var lon=$("#videowd_video_edit").val();
		var lat=$("#videojd_video_edit").val();
	
		$.ajax({
			url:"content/apiAddress.do",
			data:{"longitude":lon,"latitude":lat},
			dataType:"json",
			type:"post",
			success:function(data){
				console.log(data);
				if(data!=null){
					$("#videocityName_video_edit").val(data);
				}
			}
		});	
	}
	
	
	
	function drowImage(img_url, img_id) {
		$("#video_img_list").children().remove();
		if (img_url != null && img_url != "") {
			var img_urls = img_url.split(",");
			var img_ids = img_id.split(",");
			for ( var i in img_urls) {
				var div = "<div id='"+img_ids[i]+"_div' class='col-sm-6 col-md-4' style='height: 180px;width: 180px;'>"
						+ "<div align='center' style='height:180px;width: 180px;'>"
						+ "<div class='thumbnail' style='height:130px;width:130px;' >"
						+ "<img src='"
						+ file_upload_prefix
						+ img_urls[i]
						+ "' style='width:100%;height:100%;'>"
						+ "</div>"
						+ "<div class='caption'>"
						+ "<p style='text-align:center'><a class='btn btn-primary' id='"
						+ img_ids[i]
						+ "' role='button' onclick='video_img_delete(event);'>删除</a></p>"
						+ " </div>" + "</div>" + "</div>";

				/* var div = "<div class='col-sm-6 col-md-4' id='"+img_ids[i]+"_div' style='height: 200px;width: 130px;'>"
						+ "<div class='thumbnail' style='height: 130px;width: 130px;'>"
						+ "<img src='"+file_upload_prefix+img_urls[i]+" 'id='"+img_ids[i]+"_img'>"
						+ "<div class='caption'>"
						+ "<p style='text-align:center'><a class='btn btn-primary' id='"
						+ img_ids[i]
						+ "' onclick='video_img_delete(event);' role='button'>删除</a></p>"
						+ "</div>" + "</div>" + "</div>"; */
				$("#video_img_list").append(div);
			}
		}
	}
	function video_img_add_List() {
		var img_url = "<#if csmcontent??>${csmcontent.thumbUrl!}</#if>";
		var img_id = "<#if csmcontent??>${csmcontent.thumbIds!}</#if>";
		var video = '<#if csmcontent??>${csmcontent.vedioUrl!}</#if>';
		drowImage(img_url, img_id);
		if (video) {
			document.getElementById("v1_edit").src = file_upload_prefix + video;
			document.getElementById("media_edit").load();
		}
		$("#videothumbUrl_video_edit").val(img_url);
		$("#attachmentIds_video_edit").val("<#if csmcontent??>${csmcontent.attachmentIds}</#if>");
		
		$("#thumbIds_editssss").val("<#if csmcontent??>${csmcontent.thumbIds}</#if>");
		console.log($("#thumbIds_editssss").val()+"..........");
	}

	function video_editMapSearch() {
		var city = $("#videocityName_video_edit").val();
		if (city != "") {
			videolocal_video_edit.search(city);
		}
	}
	//视频添加
	$("#btnSaveVideo_edit").on('click', function() {
		var validated = video_edit_page.video_editformValidate();
		if (validated == false) {
			return false;
		}
		cotent_save_video_edit();
		//先上传封面,回调成功再往下执行
	});
	function cotent_save_video_edit() {
		//$('#modalvideo_add_filecover_tuwen_edit').fileinput('upload');
		document.getElementById("btnSaveVideo_edit").disabled = false;
		$.ajax({
			type : "POST",
			data : $("#videoform_video_edit").serialize() ,
			dataType : "json",
			url : "${rc.contextPath}/content/updateNewWithContent.do",
			success : function(data) {
				if (data.status == 200) {
					alert(data.message);
					$modalVideoEdit.modal('hide');
				} else {
					alert(data.message);
				}
				document.getElementById("btnSaveVideo_edit").disabled = true;
			},
			error : function(e) {
				alert("异常！");
				document.getElementById("btnSaveVideo_edit").disabled = true;
			}

		});

	}
	function video_img_delete(event) {
		var id = event.target.id + "";
		$("#" + id + "_div").remove();

		var logoIdsChange = $("#thumbIds_editssss").val();
		var logoUrlsChange = $("#videothumbUrl_video_edit").val();

		var urlArray = logoUrlsChange.split(",");
		var idArray = logoIdsChange.split(",");
		var logoIdsChange_new = "";
		var logoUrlsChange_new = "";
		for (var i = 0; i < idArray.length; i++) {
			if (idArray[i] != id) {
				logoIdsChange_new = logoIdsChange_new + idArray[i] + ",";
				logoUrlsChange_new = logoUrlsChange_new + urlArray[i] + ",";
			}
		}
		logoIdsChange_new = logoIdsChange_new.substr(0,
				logoIdsChange_new.length - 1);
		logoUrlsChange_new = logoUrlsChange_new.substr(0,
				logoUrlsChange_new.length - 1);
		$("#thumbIds_editssss").val(logoIdsChange_new);
		$("#videothumbUrl_video_edit").val(logoUrlsChange_new);
	}
	function video_vid_delete() {
	}
</script>
