<div class="modal-dialog" role="document">
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h5 class="modal-title" id="myModalLabel">
			<span class="glyphicon glyphicon-file"></span> <span id="modalTite"></span>
		</h5>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="UserNameLoginAdminForm">
			<div class="form-group form-group-sm">
				<label for="inputEmail3" class="col-sm-2 control-label">用户名称</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="用户名称" name="userName" id="UserNameLoginAdmin" value="${login_user.username}" disabled="disabled">
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label for="inputEmail3" class="col-sm-2 control-label">密码</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" placeholder="请输入密码" name="password" id="UserpasswordAdmin" value="">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">
			<span class="glyphicon glyphicon-remove"></span> 关闭
		</button>
		<button id="btnSaveUserPassword" data-action="" type="button"
			class="btn btn-info btn-sm">
			<span class="glyphicon glyphicon-saved"></span> 保存
		</button>
	</div>
</div>
</div>


<script>
$("#btnSaveUserPassword").on('click',function(){
	var password=$("#UserpasswordAdmin").val();
	$.ajax({
	    type:"POST",
	    dataType:"json",
	    data:{"userName":$("#UserNameLoginAdmin").val(),"passwords":password},
	    url:"${rc.contextPath}/contentAudit/sysUserLoginUpdate.do",
	    success:function(data){
		      $("#UserpasswordAdmin").val("");
	      $modalInfoUserPassword.modal('hide');//手动关闭模态框
	      alert("修改成功");
	     
	    }
	
	});
});
</script>








