<script type="text/javascript">
	var updateUrl="${rc.contextPath}/contentType/o_update.do";
    var saveUrl = "${rc.contextPath}/contentType/o_save.do";
	var indexUrl="${rc.contextPath}/contentType/v_list.do"

</script>
<div class="modal-dialog" role="document">
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h5 class="modal-title" id="myModalLabel">
			<span class="glyphicon glyphicon-file"></span> <span id="modalTite"></span>
		</h5>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="contenttypeForm">
			<div class="form-group form-group-sm">
				<label for="inputEmail3" class="col-sm-2 control-label">类型名称</label>
				<div class="col-sm-10">
					<input type="hidden" id="contentTypeId" name="contentTypeId" value="<#if entity??>${entity.contentTypeId}</#if>">
					<input type="text" class="form-control" placeholder="类型名称" name="contentTypeName" value="<#if entity??>${entity.contentTypeName}</#if>">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">
			<span class="glyphicon glyphicon-remove"></span> 关闭
		</button>
		<button id="btnSave" data-action="" type="button"
			class="btn btn-info btn-sm">
			<span class="glyphicon glyphicon-saved"></span> 保存
		</button>
	</div>
</div>
</div>
<script type="text/javascript">

	//信息表单模态框
	var $modalInfo = $('#modalInfo');
	var $modalInfoTitle = $modalInfo.find('#modalTite');
	
	$modalInfo.modal({
		backdrop:'static',
		keyboard:false,
		show:false
	});		
	//模态框完全关闭后重新load
	
	//选中
	var currentparentid = null;
	<#if category??>
		currentparentid = "${category.parentId!'null'}";
    </#if>
	//载入页面加载分类下拉列表
	/* loadCategorys();
	
	function loadCategorys(){
		$.ajax({
		    type:"GET",
		    dataType:"json",
		    url:listAllUrl,
		    success:function(data){
		    	var optionstring = "";
		    	//if(currentCategory!=null){
		    		//选中当前父类
		    		//$("#parentCategory").val(currentCategory);
		    		//$('#parentCategory option:eq(currentCategory)').attr('selected','selected');
		    	//}
		    	for(var i in data){
		    		if(currentparentid!=null){
		    			if(data[i].categoryId==currentparentid){
		        			optionstring+="<option value='"+data[i].categoryId+"' selected='selected'>"+data[i].categoryName+"</option>";
		        			continue;
		        		}
		    		}
		        	optionstring+="<option value='"+data[i].categoryId+"'>"+data[i].categoryName+"</option>";
		        }
		    	//默认留空为主分类
		    	$("#parentCategory").html("<option value='' selected='selected'>请选择</option>"+optionstring); 
		    }
		});
	} */
	
	$("#btnSave").on('click',function(){
		//ajax提交
		var contentTypeId=$("#contentTypeId").val();
		var url=null;
		if (contentTypeId==null ||  contentTypeId=="") {
			url=saveUrl;
		}else{
			url=updateUrl;
		}
		
		$.ajax({
		    type:"POST",
		    data:$("#contenttypeForm").serialize(),
		    dataType:"json",
		    url:url,
		    success:function(data){
		    	if(data.status==200){
		    		$modalInfo.modal('hide');//手动关闭模态框
		    		alert(data.message);
		    	}else{
		    		alert(data.message);
		    	}
		    	
		    }
		
		});
	});
</script>
